# Python Bootcamp 2025
### Day 3: Lists, Tuples and Sets

#### Planned Agenda
 - Tuple: sequence operations and methods
 - Builtin Iteration helpers: `range()`, `zip()`, `enumerate()`, `reversed()`, `sorted()`
 - Builtin reduction functions: `min()`, `max()`, `all()`, `any()`, `sum()`
 - Using `map()`, `filter()` and comprehensions
 - Using `lambda` expressions with higher-order functions
 - Lists: operations and methods
 - Sets: overview, operations and methods
 - List comprehensions, tuple comprehensions, set comprehensions and generator comprehensions
 - Using `collections.deque()`
 - Using `heapq`, `bisect` and `array` modules
 - An overview on `itertools` module.

In [1]:
a = (10, 20, 30, 40)
print(a, type(a))

(10, 20, 30, 40) <class 'tuple'>

In [2]:
a = 10, 20, 30, 40
print(a, type(a))

(10, 20, 30, 40) <class 'tuple'>

In [3]:
a = 10, 20, 30 * 3
print(a, type(a))

(10, 20, 90) <class 'tuple'>

In [4]:
a = (10, 20, 30) * 3
print(a, type(a))

(10, 20, 30, 10, 20, 30, 10, 20, 30) <class 'tuple'>

In [5]:
a = 10, 20
print(a, type(a))

(10, 20) <class 'tuple'>

In [6]:
a = (10)
print(a, type(a))

10 <class 'int'>

In [13]:
a = 10,  # A tuple of one element
a = (10,)
print(a, type(a))

a = () # Empty tuple
print(a, type(a))

(10,) <class 'tuple'>
() <class 'tuple'>

In [21]:
a = 10, 20, 30, 40, 50, 60, 70, 80, 90, 100
print(len(a))
print(a[0], a[1], a[-1], a[-2])
print(a[2:5])
print(a[:5])
print(a[-5:])
print(a[::2])
print(a[::-1])

10
10 20 100 90
(30, 40, 50)
(10, 20, 30, 40, 50)
(60, 70, 80, 90, 100)
(10, 30, 50, 70, 90)
(100, 90, 80, 70, 60, 50, 40, 30, 20, 10)

In [25]:
a = (10, "Hello", 20.5, [1, 2, 3], (4, 5), {6, 7}, {'name': 'Alice', 'age': 30})
print(type(a))
print(a[0], type(a[0]))
print(a[3][1])

<class 'tuple'>
10 <class 'int'>
2

In [26]:
# Tuple operators
a = 10, 20, 30
b = 40, 50, 60
print(a + b) # Concatenation
print(a * 3) # Repetition
print(20 in a) # Membership

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 10, 20, 30, 10, 20, 30)
True

In [27]:
# Tuple methods
a = (10, 20, 30, 20, 40, 20)
print(a.count(20)) # Count occurrences of 20
print(a.index(30)) # Find index of first occurrence of 30

3
2

In [29]:
print(dir(a))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [30]:
# Tuples are immutable
a = (10, 20, 30)
a[0] = 100  # This will raise a TypeError

TypeError: 'tuple' object does not support item assignment

In [33]:
a = (10, [20, 30], 40)
a[1][0] = 200  # This is allowed
print(a)
a[1] = [200, 30]

(10, [200, 30], 40)

TypeError: 'tuple' object does not support item assignment

In [35]:
# Hashable objects
# Objects whose unique checksum (hash value) gets computed during construction 
# based on the "value" of the object are called hashable objects.

a = 123456
print(hash(a))
a = 28394698324798237498327498237498324982374982374982374982374239847
print(hash(a))

123456
2081127873266066758

In [ ]:
a = "Hello world"
b = "Hello world"
print(a == b) # Strings are compared using their hash values.
print(id(a), id(b))
print(hash(a), hash(b))

True
4575742704 4575744432
6180344228507248392 6180344228507248392

NOTE: In Python, for an object to be "hashable", it *must* be immutable.
Mutable objects in Python are by definition - not hashable.

In [39]:
a = [10, 20, 30]
print(hash(a))  # This will raise a TypeError because lists are not hashable.

TypeError: unhashable type: 'list'

In [40]:
a = 10, 20, 30
print(hash(a))

3952409569436607343

In [42]:
a = 10, [20, 30], 40
print(a, type(a))
print(hash(a))

(10, [20, 30], 40) <class 'tuple'>

TypeError: unhashable type: 'list'

NOTE: For a tuple to be hashable, all the items within that tuple must also be hashable recursively. That is because, the hash of a tuple is computed based on the hash of every item of that tuple during its construction.

In [53]:
# There are 3 ways to construct a tuple:
# 1. Literal notation using parentheses or commas.
# 2. Using the tuple() constructor.
# 3. Using comprehensions.

a = 10, 20, 30  # Literal notation using commas
print(a, type(a))

b = tuple("hello")  # Using the tuple() constructor
print(b, type(b))

c = tuple(range(10, 20, 2))
print(c, type(c))

d = tuple(x*x for x in range(10)) # Using tuple comprehension
print(d, type(d))

e = tuple((v, v*v) for v in range(10))
print(e, type(e))
# A tuple/list that has every item as a equal sized tuple is called a "tuple-set"
# The variable 'e' above is a 2-item tuple-set.
print(e[5]) # 5th item of the tuple-set

(10, 20, 30) <class 'tuple'>
('h', 'e', 'l', 'l', 'o') <class 'tuple'>
(10, 12, 14, 16, 18) <class 'tuple'>
(0, 1, 4, 9, 16, 25, 36, 49, 64, 81) <class 'tuple'>
((0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)) <class 'tuple'>
(5, 25)

In [55]:
players = "john", "alice", "bob", "dave", "emily", "claire"
for p in players:
    print(p)

john
alice
bob
dave
emily
claire

In [58]:
# Reversed iteration.

for p in players[::-1]: # NOT EFFICIENT.
    print(p)

print("-" * 40)
for p in reversed(players): # Pythonic approach, efficient.
    print(p)

claire
emily
dave
bob
alice
john
----------------------------------------
claire
emily
dave
bob
alice
john

In [59]:
players = "john", "alice", "bob", "dave", "emily", "claire"
scores = 56, 78, 45, 62, 89, 37
for p in players:
    print(p)
for s in scores:
    print(s)

john
alice
bob
dave
emily
claire
56
78
45
62
89
37

In [60]:
# Parallel iteration.
players = "john", "alice", "bob", "dave", "emily", "claire"
scores = 56, 78, 45, 62, 89, 37

output = "{player} scored {score} points"
for p, s in zip(players, scores):
    print(output.format(player=p.title(), score=s))

John scored 56 points
Alice scored 78 points
Bob scored 45 points
Dave scored 62 points
Emily scored 89 points
Claire scored 37 points

In [80]:
# Parallel iteration.
players = "john", "alice", "bob"
scores = 56, 78, 45, 67, 43, 89

for player, score in zip(players, scores):
    print(f"{player.title()} scored {score} points")

John scored 56 points
Alice scored 78 points
Bob scored 45 points

In [75]:
z = zip(players, scores)
z

In [76]:
for x, y in z:
    print(x, y)

john 56
alice 78
bob 45
dave 62
emily 89
claire 37

In [86]:
# Parallel iteration.
players = "john", "alice", "bob", "dave", "emily", "claire", "frank", "grace"
scores = 56, 78, 45, 67

from itertools import zip_longest
for player, score in zip_longest(players, scores, fillvalue=0):
    print(f"{player.title()} scored {score} points")

John scored 56 points
Alice scored 78 points
Bob scored 45 points
Dave scored 67 points
Emily scored 0 points
Claire scored 0 points
Frank scored 0 points
Grace scored 0 points

In [90]:
# Parallel iteration.
players = "john", "alice", "bob", "dave", "emily", "claire", "frank", "grace"
scores = 56, 78, 45, 67

from itertools import zip_longest
for player, score in zip_longest(players, scores):
    print(f"{player.title()} scored {0 if score is None else score} points")

John scored 56 points
Alice scored 78 points
Bob scored 45 points
Dave scored 67 points
Emily scored 0 points
Claire scored 0 points
Frank scored 0 points
Grace scored 0 points

In [ ]:
v = 4
r = 0 if v is None else v  # r = (v is None) ? 0 : v
print(r)

# if v is None:
#     r = 0
# else:
#     r = v

4

In [96]:
# Enumerated iteration

players = "john", "alice", "bob", "dave", "emily", "claire"

#for p in players:
#    print(p)

for i in range(len(players)): # Not Pythonic
    print(i, players[i])

for i, p in zip(range(len(players)), players): # Less Pythonic
    print(i, p)

for i, p in enumerate(players): # Pythonic
    print(i, p)

0 john
1 alice
2 bob
3 dave
4 emily
5 claire
0 john
1 alice
2 bob
3 dave
4 emily
5 claire
0 john
1 alice
2 bob
3 dave
4 emily
5 claire

In [102]:
# enumerate() is primarily used for "in-place" transformation of a list.
values = [45, 12, -7, 56, -2, 78, -27, 15, 12]

for i, v in enumerate(values):
    values[i] = abs(v)
print(values)

players = ["john", "alice", "bob", "dave", "emily", "claire"]
for i, p in enumerate(players):
    players[i] = p.title()
print(players)

[45, 12, 7, 56, 2, 78, 27, 15, 12]
['John', 'Alice', 'Bob', 'Dave', 'Emily', 'Claire']

In [100]:
values = [45, 12, -7, 56, -2, 78, -27, 15, 12]
print(values)

result = [abs(v) for v in values]
print(result)

[45, 12, -7, 56, -2, 78, -27, 15, 12]
[45, 12, 7, 56, 2, 78, 27, 15, 12]

In [99]:
a = -67
abs(a)

67

In [108]:
players = "john", "alice", "bob", "dave", "emily", "claire"

for i, p in enumerate(players, start=10):
    print(i, p.title())

10 John
11 Alice
12 Bob
13 Dave
14 Emily
15 Claire

In [110]:
players = "john", "alice", "bob", "dave", "emily", "claire"

for p in sorted(players):
    print(p.title())

print(sorted(players))

Alice
Bob
Claire
Dave
Emily
John
['alice', 'bob', 'claire', 'dave', 'emily', 'john']

In [111]:
values = 34, 67, 21, 89, 45, 23, 90, 12
v = sorted(values)
v

[12, 21, 23, 34, 45, 67, 89, 90]

In [112]:
values = 34, 67, "21", 89, 45, 23, 90, 12
v = sorted(values)
v

TypeError: '<' not supported between instances of 'str' and 'int'

NOTE: sorted() works on collections that have all their items of the "same" type and are comparable (support ==, !=, <, > operations)

In [119]:
values = 56, 32, 56, 89, 12, 43, 75, 0, 89, 90, 21, 88
print(min(values), max(values))

print(all(values), any(values))

print(sum(values))

0 90
False True
651

#### Using map(), filter() and comprehensions

In [ ]:
values = 10, 20, 30, 40, 50

def square(x):   # Example of a Pure function
    return x*x

square(values)

# Pure functions: Functions that do not carry forward any state across calls and
# always return the same output for the same input.
# Pure functions do not modify or access any state outside their local scope.


# Functions with side-effects: Functions that carry forward state across calls
# and therefore may not work the same way for the same input across multiple calls.

TypeError: can't multiply sequence by non-int of type 'tuple'

In [ ]:
# Higher order functions: Functions that take other functions as arguments or return
# functions as their result.
values = 10, 20, 30, 40, 50

def square(x):   # Example of a Pure function
    return x*x

def apply_to_each(func, collection): # Example of a Higher order function
    result = []
    for item in collection:
        result.append(func(item))
    return result

apply_to_each(square, values)

[100, 400, 900, 1600, 2500]

In [124]:
# Higher order functions: Functions that take other functions as arguments or return
# functions as their result.
values = 10, 20, 30, 40, 50

def square(x):   # Example of a Pure function
    return x*x

result = map(square, values) # map() is a built-in higher order function
print(result, type(result))

result = list(map(square, values))
print(result)

<map object at 0x1100769b0> <class 'map'>
[100, 400, 900, 1600, 2500]

In [127]:
# The `lambda` expression.

def square(x):
    return x*x

sqr = lambda x: x*x

print(square, type(square))
print(sqr, type(sqr))

square(5), sqr(5)

<function square at 0x110d500e0> <class 'function'>
<function <lambda> at 0x110d50180> <class 'function'>

(25, 25)

In [ ]:
values = [45, 2, 78, 12, 7]
result = map(lambda x: x*x, values)
print(values, list(result))

result = tuple(v*v for v in values) # Pythonic replacement for map()
print(result, type(result))

[45, 2, 78, 12, 7] [2025, 4, 6084, 144, 49]
(2025, 4, 6084, 144, 49) <class 'tuple'>

In [ ]:
values = 45, 23, 78, 55, 21, 33, 27, 18, 11, 12
result = tuple(filter(lambda x: x % 3 == 0, values))
print(result)

result = tuple(v for v in values if v % 3 == 0) # Pythonic replacement for filter()
print(result)

(45, 78, 21, 33, 27, 18, 12)
(45, 78, 21, 33, 27, 18, 12)

In [132]:
players = "john", "alice", "dave", "emily", "claire", "Jones", "bob", "james"
result = tuple(filter(lambda name: name[0] in 'Jj', players))
print(result)

('john', 'Jones', 'james')

In [ ]:
values = 45, 23, 78, 55, 21, 33, 27, 18, 11, 12
result = tuple(map(lambda x: x*x, filter(lambda x: x % 3 == 0, values)))
print(result)

result = tuple(x*x for x in values if x % 3 == 0) # More Pythonic
print(result)

(2025, 6084, 441, 1089, 729, 324, 144)
(2025, 6084, 441, 1089, 729, 324, 144)

In [145]:
values = (45, 23, 78, 55, 21, 33, 27, 18, 11, 12) * 1000

In [146]:
%%timeit
result = tuple(map(lambda x: x*x, filter(lambda x: x % 3 == 0, values)))

530 μs ± 1.67 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [147]:
%%timeit
result = tuple(x*x for x in values if x % 3 == 0) # More Pythonic

306 μs ± 1.5 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [ ]:
# Find factorial of a number:

def factorial(n):  # Imperative approach using iteration
    fact = 1
    for i in (range(1, n+1)):
        fact *= i
    return fact

def factorial(n):  # Functional approach using recursion - AVOID DEEP RECURSION in Python
    return 1 if n == 0 else n * factorial(n-1)

print(factorial(5))

120

In [154]:
values = (45, 23, 78, 55, 21, 33, 97, 18, 59, 12)
# result = (0, 0, 78, 55, 0, 0, 97, 0, 59, 0) # if value is less than 50, result should have 0 instead.

result = tuple(v for v in values if v >= 50)
print(result)

result = tuple(0 if v < 50 else v for v in values)
print(result)

(78, 55, 97, 59)
(0, 0, 78, 55, 0, 0, 97, 0, 59, 0)

In [155]:
values = (-56, -2, 5, -4, 6, 7, 12, -18)
# ReLU -> Rectified Linear Unit
tuple(0 if v < 0 else v for v in values)

(0, 0, 5, 0, 6, 7, 12, 0)

### List: a mutable equivalent of a tuple
#### A mutable sequence of arbitrary items

NOTE: In most Python expression, a list can be used to fully replace a tuple.

In [159]:
# List construction

# Literal notation
a = [10, 20, 30, 40]
print(a, type(a))

# Using the list() constructor
b = list("hello")
print(b, type(b))

c = list(range(10, 20, 2))
print(c, type(c))

# Using the list comprehension
d = [x*x for x in range(10)]
print(d, type(d))

[10, 20, 30, 40] <class 'list'>
['h', 'e', 'l', 'l', 'o'] <class 'list'>
[10, 12, 14, 16, 18] <class 'list'>
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81] <class 'list'>

In [ ]:
a = [10, 20, 30, 40, 50]
print(a, type(a), id(a))
a[0] = 100 # setitem operation -> List item assignment
print(a, type(a), id(a))

[10, 20, 30, 40, 50] <class 'list'> 4613124864
[100, 20, 30, 40, 50] <class 'list'> 4613124864

In [163]:
a = [10, 20, 30, 40, 50]
a[1:3] = [200, 300, 400] # List slice assignment
print(a)

[10, 200, 300, 400, 40, 50]

In [164]:
a = [10, 20, 30, 40, 50]
a[1:3] = "hello"
print(a)

[10, 'h', 'e', 'l', 'l', 'o', 40, 50]

In [ ]:
a = [10, 20, 30, 40, 50]
a[1:3] = "hello"
print(a)
a[1:3] = range(100, 200, 25)
print(a)

[10, 100, 125, 150, 175, 40, 50]

In [170]:
a = [10, 20, 30, 40, 50]
v = 25

a[1:3] = v,   # Assign v as a single item tuple
a[1:3] = [v]  # Alternatively, assign v as a single item list
print(a)

[10, 25, 50]

In [172]:
a = [10, 20, 30, 40, 50, 60, 70]

del a[0]
print(a)

del a[:3]
print(a)

[20, 30, 40, 50, 60, 70]
[50, 60, 70]

In [175]:
a = list(range(10, 100, 10))
print(a)
del a[::2]
print(a)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[20, 40, 60, 80]

In [179]:
a = [10, 20, 30, 40, 50]
v = [22, 25, 27]
# Insert all items of v between 20 and 30 in a
result = a[:2] + v + a[2:]
print(result) # Create a new list with the inserted items

a[2:2] = v  # In-place insertion of items of v into a
print(a)

[10, 20, 22, 25, 27, 30, 40, 50]
[10, 20, 22, 25, 27, 30, 40, 50]

In [ ]:
a = [10, 20, 30, 40, 50]
v = 25
a[2:2] = v,   # Insert v as a single item tuple
print(a)

[10, 20, 25, 30, 40, 50]

In [ ]:
a = [10, 20, 30, 40, 50]
v = 25
a.insert(2, v)  # Insert v at index 2
print(a)

[10, 20, 25, 30, 40, 50]

In [183]:
a = [10, 20, 30, 40, 50]
v = [22, 25, 27]

#for i, v in enumerate(v):
#    a.insert(2 + i, v)
#print(a)
a[2:2] = v  # Insert all items of v starting at index 2
print(a)

[10, 20, 22, 25, 27, 30, 40, 50]

In [186]:
a = [10, 20, 30, 40]
a[4] = 50  # This will raise an IndexError

IndexError: list assignment index out of range

In [ ]:
a = [10, 20, 30, 40]
a[4:] = 50, # Acrobatic way to append an item at the end of a list
print(a)

[10, 20, 30, 40, 50]

In [189]:
a = [10, 20, 30, 40]
a.append(50)  # Preferred way to append an item at the end of a list
print(a)

[10, 20, 30, 40, 50]

In [193]:
a = [10, 20, 30, 40]
a.insert(8, 50) # Inserting at an index greater than the list size appends at the end
print(a)
print(a[4])
# Appending to a list is similar the code below:
a.insert(len(a), 60)
print(a)

[10, 20, 30, 40, 50]
50
[10, 20, 30, 40, 50, 60]

In [195]:
a = [10, 20, 30, 40]
v = [44, 45, 47]
a.append(v)
print(len(a), a)

5 [10, 20, 30, 40, [44, 45, 47]]

In [ ]:
a = [10, 20, 30, 40]
v = [44, 45, 47]
a.extend(v)
print(len(a), a)

7 [10, 20, 30, 40, 44, 45, 47]

In [197]:
a = [10, 20, 30, 40]
v = [44, 45, 47]
a += v
print(len(a), a)

7 [10, 20, 30, 40, 44, 45, 47]

In [ ]:
a = 10, 20, 30, 40
v = 44, 45, 47
print(a, id(a))
a += v # a = a + v
print(a, id(a))

(10, 20, 30, 40) 4576924816
(10, 20, 30, 40, 44, 45, 47) 4577644640

In [ ]:
a = [10, 20, 30, 40]
v = 44, 45, 47
print(a, id(a))
a += v # a.__iadd__(v) -> same as a.extend(v)
print(a, id(a))

[10, 20, 30, 40] 4574776896
[10, 20, 30, 40, 44, 45, 47] 4574776896

In [201]:
a = [10, 20, 30]
print(dir(a))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [204]:
a = [10, 20, 30]
print(a, id(a))
a *= 3 # a.__imul__(3)
print(a, id(a))

[10, 20, 30] 4577005184
[10, 20, 30, 10, 20, 30, 10, 20, 30] 4577005184

In [209]:
a = [10, 20, 30]
print(a[1], a.__getitem__(1), list.__getitem__(a, 1))
a[1] = 200 
a.__setitem__(1, 200) # list.__setitem__(a, 1, 200)
print(a)

20 20 20
[10, 200, 30]

In [ ]:
# List methods:
# list.append(), list.insert(), list.extend(), list.index(), list.count()
# list.remove(), list.pop(), list.clear(), list.sort(), list.reverse()
# list.copy() - Shallow copy of a list.

In [ ]:
a = [10, 45, 32, 78, 10, 34, 20, 45, 23, 33, 10, 20]
a.remove(10)  # Remove first occurrence of 10
# del a[a.index(10)]
print(a)

[45, 32, 78, 10, 34, 20, 45, 23, 33, 10, 20]

In [215]:
a = [10, 45, 32, 78, 10, 34, 20, 45, 23, 33, 10, 20]
a.remove(10)  # Remove first occurrence of 10
# del a[a.index(10)]
while 10 in a:
    a.remove(10)
print(a)

[45, 32, 78, 34, 20, 45, 23, 33, 20]

In [ ]:
a = [10, 45, 32, 78, 10, 34, 20, 45, 23, 33, 10, 20] * 100

In [218]:
%%timeit
while 10 in a:
    a.remove(10)

2.08 μs ± 16.1 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [220]:
e = enumerate(a)

In [221]:
%%timeit
for i, v in e:
    if v == 10:
        del a[i]

8.35 ns ± 0.0505 ns per loop (mean ± std. dev. of 7 runs, 100,000,000 loops each)

In [222]:
a = [10, 20, 30, 40]
a

[10, 20, 30, 40]

In [229]:
a = [10, 20, 30]
a.remove(40)

ValueError: list.remove(x): x not in list

In [227]:
v = a.pop()
print(f"{v=}, {a=}")

IndexError: pop from empty list

In [230]:
# Stack operations using list
a = []

# Pushing items onto the stack
while (v := input("Enter a value (or 'exit' to quit): ")) != 'exit':
    a.append(v)
    print(f"Pushed {v} onto the stack. Current stack: {a}")

print(a)

Pushed john onto the stack. Current stack: ['john']
Pushed sam onto the stack. Current stack: ['john', 'sam']
Pushed claire onto the stack. Current stack: ['john', 'sam', 'claire']
Pushed emily onto the stack. Current stack: ['john', 'sam', 'claire', 'emily']
Pushed jane onto the stack. Current stack: ['john', 'sam', 'claire', 'emily', 'jane']
Pushed james onto the stack. Current stack: ['john', 'sam', 'claire', 'emily', 'jane', 'james']
Pushed bourne onto the stack. Current stack: ['john', 'sam', 'claire', 'emily', 'jane', 'james', 'bourne']
['john', 'sam', 'claire', 'emily', 'jane', 'james', 'bourne']

In [ ]:
# Pop items from the stack
while a: # while len(a) > 0:
    v = a.pop()
    print(f"Popped {v} from the stack. Current stack: {a}")

print(a)

Popped bourne from the stack. Current stack: ['john', 'sam', 'claire', 'emily', 'jane', 'james']
Popped james from the stack. Current stack: ['john', 'sam', 'claire', 'emily', 'jane']
Popped jane from the stack. Current stack: ['john', 'sam', 'claire', 'emily']
Popped emily from the stack. Current stack: ['john', 'sam', 'claire']
Popped claire from the stack. Current stack: ['john', 'sam']
Popped sam from the stack. Current stack: ['john']
Popped john from the stack. Current stack: []
[]

In [232]:
# Implementing a queue using list
a = []

# Enqueue items
while (v := input("Enter a value (or 'exit' to quit): ")) != 'exit':
    a.append(v)
    print(f"Enqueued {v}. Current queue: {a}")

print(a)

Enqueued john. Current queue: ['john']
Enqueued alice. Current queue: ['john', 'alice']
Enqueued emily. Current queue: ['john', 'alice', 'emily']
Enqueued steven. Current queue: ['john', 'alice', 'emily', 'steven']
Enqueued claire. Current queue: ['john', 'alice', 'emily', 'steven', 'claire']
['john', 'alice', 'emily', 'steven', 'claire']

In [ ]:
# Dequeue items from the queue
while a:
    v = a.pop(0) # Inefficient operation -> O(n) time complexity
    print(f"Dequeued {v}. Current queue: {a}")

Dequeued john. Current queue: ['alice', 'emily', 'steven', 'claire']
Dequeued alice. Current queue: ['emily', 'steven', 'claire']
Dequeued emily. Current queue: ['steven', 'claire']
Dequeued steven. Current queue: ['claire']
Dequeued claire. Current queue: []

In [ ]:
from collections import deque # Pronounced "deck"
# In Python, a deque (double-ended queue) is an implementation of circular doubly linked list.
# In Python, a deque is also a proper "sequence" collection.

# Two standard ways to construct a deque:
# 1. Using the deque() constructor.
# 2. Using a comprehension.

from collections import deque
a = deque([10, 20, 30, 40])
print(a, type(a))
a = deque(x*x for x in range(10))
print(a, type(a))

a[2:3] # Deque supports indexing but not slicing.
a[2] # Indexing is supported.

deque([10, 20, 30, 40]) <class 'collections.deque'>
deque([0, 1, 4, 9, 16, 25, 36, 49, 64, 81]) <class 'collections.deque'>

TypeError: sequence index must be integer, not 'slice'

In [240]:
# A deque is suitable for implementing both stacks and queues efficiently.

# Implementing a queue using deque
a = deque()

# Enqueue items
while (v := input("Enter a value (or 'exit' to quit): ")) != 'exit':
    a.append(v)
    print(f"Enqueued {v}. Current queue: {a}")

print(a)

Enqueued john. Current queue: deque(['john'])
Enqueued steven. Current queue: deque(['john', 'steven'])
Enqueued alice. Current queue: deque(['john', 'steven', 'alice'])
Enqueued bourne. Current queue: deque(['john', 'steven', 'alice', 'bourne'])
Enqueued claire. Current queue: deque(['john', 'steven', 'alice', 'bourne', 'claire'])
deque(['john', 'steven', 'alice', 'bourne', 'claire'])

In [ ]:
# Dequeue items from the queue
while a:
    v = a.popleft() # O(1) time complexity
    print(f"Dequeued {v}. Current queue: {a}")

In [245]:
%%timeit
a = list(range(1_000_000))
a.pop(0)

9.11 ms ± 41.5 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [247]:
%%timeit
a = deque(range(1_000_000))
a.popleft()

10.5 ms ± 175 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [267]:
a = list(range(100))
b = deque(range(100))

%timeit -n1 -r1 a.pop(0)
%timeit -n1 -r1 b.popleft()

1.62 μs ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)
1.21 μs ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [248]:
%timeit?

Docstring:
Time execution of a Python statement or expression

Usage, in line mode:
  %timeit [-n<N> -r<R> [-t|-c] -q -p<P> -o] statement
or in cell mode:
  %%timeit [-n<N> -r<R> [-t|-c] -q -p<P> -o] setup_code
  code
  code...

Time execution of a Python statement or expression using the timeit
module.  This function can be used both as a line and cell magic:

- In line mode you can time a single-line statement (though multiple
  ones can be chained with using semicolons).

- In cell mode, the statement in the first line is used as setup code
  (executed but not timed) and the body of the cell is timed.  The cell
  body has access to any variables created in the setup code.

Options:
-n<N>: execute the given statement <N> times in a loop. If <N> is not
provided, <N> is determined so as to get sufficient accuracy.

-r<R>: number of repeats <R>, each consisting of <N> loops, and take the
average result.
Default: 7

-t: use time.time to measure the time, which is the default on Unix.
This function measures wall time.

-c: use time.clock to measure the time, which is the default on
Windows and measures wall time. On Unix, resource.getrusage is used
instead and returns the CPU user time.

-p<P>: use a precision of <P> digits to display the timing result.
Default: 3

-q: Quiet, do not print result.

-o: return a TimeitResult that can be stored in a variable to inspect
    the result in more details.

.. versionchanged:: 7.3
    User variables are no longer expanded,
    the magic line is always left unmodified.

Examples
--------
::

  In [1]: %timeit pass
  8.26 ns ± 0.12 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

  In [2]: u = None

  In [3]: %timeit u is None
  29.9 ns ± 0.643 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

  In [4]: %timeit -r 4 u == None

  In [5]: import time

  In [6]: %timeit -n1 time.sleep(2)

The times reported by %timeit will be slightly higher than those
reported by the timeit.py script when variables are accessed. This is
due to the fact that %timeit executes the statement in the namespace
of the shell, compared with timeit.py, which uses a single setup
statement to import function or create variables. Generally, the bias
does not matter as long as results from timeit.py are not mixed with
those from %timeit.
File:      /opt/anaconda3/lib/python3.12/site-packages/IPython/core/magics/execution.py

NOTE: Use collections.deque to implement queues *only* if the number of items in a queue exceed 1000+
Smaller sized queues implemented using a deque does not provide any performance benefits in comparison to a list. Infact, creating a deque is slower than a list, and deque take up significant memory than a list.

Also note: deque is optimized only "sequential" traversal and access. Random Access (accessing items by their index) can be very slow in a deque

In [ ]:
a = list(range(10_000_000))
d = deque(range(10_000_000))

%timeit a[5_000_000]
%timeit d[5_000_000]

7.13 ns ± 0.0296 ns per loop (mean ± std. dev. of 7 runs, 100,000,000 loops each)
53.5 μs ± 670 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [269]:
a = list(range(100_000_000))
d = deque(range(100_000_000))

%timeit a[50_000_000]
%timeit d[50_000_000]

7.13 ns ± 0.0238 ns per loop (mean ± std. dev. of 7 runs, 100,000,000 loops each)
50 ms ± 140 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [270]:
a = [11, 22, 32, 56, 77, 88]
b = a
print(f"{a=}, {b=}, {id(a)=}, {id(b)=}")
a = [] # This does not empty an existing list.
print(f"{a=}, {b=}, {id(a)=}, {id(b)=}")

a=[11, 22, 32, 56, 77, 88], b=[11, 22, 32, 56, 77, 88], id(a)=4647587264, id(b)=4647587264
a=[], b=[11, 22, 32, 56, 77, 88], id(a)=4647585920, id(b)=4647587264

In [271]:
a = [11, 22, 32, 56, 77, 88]
b = a
print(f"{a=}, {b=}, {id(a)=}, {id(b)=}")
del a[:] # This empties the existing list (traditional approach).
print(f"{a=}, {b=}, {id(a)=}, {id(b)=}")

a=[11, 22, 32, 56, 77, 88], b=[11, 22, 32, 56, 77, 88], id(a)=4575421568, id(b)=4575421568
a=[], b=[], id(a)=4575421568, id(b)=4575421568

In [272]:
a = [11, 22, 32, 56, 77, 88]
b = a
print(f"{a=}, {b=}, {id(a)=}, {id(b)=}")
a.clear() # This empties the existing list (modern Python 3+ approach).
print(f"{a=}, {b=}, {id(a)=}, {id(b)=}")

a=[11, 22, 32, 56, 77, 88], b=[11, 22, 32, 56, 77, 88], id(a)=4647587264, id(b)=4647587264
a=[], b=[], id(a)=4647587264, id(b)=4647587264

In [274]:
a = [10, 20, 30, 40]
b = a
print(a is b) # True
a[0] = 100
print(a, b)

True
[100, 20, 30, 40] [100, 20, 30, 40]

In [ ]:
a = [10, 20, 30, 40]
b = a[:] # This creates a shallow copy of the list (traditional approach).
b = a.copy() # This creates a shallow copy of the list (modern approach).

print(a is b) # False
a[0] = 100
print(a, b)

False
[100, 20, 30, 40] [10, 20, 30, 40]

NOTE: the .clear() and .copy() methods exist on most "mutable" collections.

In [277]:
a = [10, 20, [30, 40], 50]
b = a.copy()
print(a is b) # False
a[0] = 100
print(a, b)
a[2][0] = 300
print(a, b)

False
[100, 20, [30, 40], 50] [10, 20, [30, 40], 50]
[100, 20, [300, 40], 50] [10, 20, [300, 40], 50]

In [ ]:
# In order to deep-copy a list or any other python collections / data-structures,
# we can use the deepcopy() function from the copy module.

# The deepcopy() function replicates every item recursively 
# to create a fully independent copy of the original object.
# NOTE: only items that are non-hashable (mutable) are deep-copied.

from copy import deepcopy
a = [10, 20, [30, 40], 50]
b = deepcopy(a)
print(a is b) # False
a[0] = 100
print(a, b)
a[2][0] = 300
print(a, b)

False
[100, 20, [30, 40], 50] [10, 20, [30, 40], 50]
[100, 20, [300, 40], 50] [10, 20, [30, 40], 50]

In [ ]:
a = [23, 56, 76, 88, 99]

for v in a:
    print(v)
print("-" * 40)
for v in reversed(a): # Reversed iteration - pythonic way
    print(v)

b = a[::-1] # This creates a reversed shallow copy of the list
print(b)
print(a)
a.reverse() # This reverses the list in-place
print(a)

23
56
76
88
99
----------------------------------------
99
88
76
56
23
[99, 88, 76, 56, 23]
[23, 56, 76, 88, 99]
[99, 88, 76, 56, 23]

In [ ]:
b = a.reverse() # Common mistake - reverse() returns None
print(b)

None

In [287]:
for v in a.reverse(): # Common mistake - reverse() returns None
    print(v)

TypeError: 'NoneType' object is not iterable

In [289]:
a = [56, 32, 78, 12, 43, 75, 0, 89, 90, 21, 88]
b = sorted(a) # This creates a sorted shallow copy of the list
print(a, b)
a.sort() # This sorts the list in-place
print(a)

[56, 32, 78, 12, 43, 75, 0, 89, 90, 21, 88] [0, 12, 21, 32, 43, 56, 75, 78, 88, 89, 90]
[0, 12, 21, 32, 43, 56, 75, 78, 88, 89, 90]

In [290]:
# Implementing a ring buffer using deque
from collections import deque
a = deque(maxlen=5) # Create a deque with a maximum length of 5
for i in range(10):
    a.append(i)
    print(a)

deque([0], maxlen=5)
deque([0, 1], maxlen=5)
deque([0, 1, 2], maxlen=5)
deque([0, 1, 2, 3], maxlen=5)
deque([0, 1, 2, 3, 4], maxlen=5)
deque([1, 2, 3, 4, 5], maxlen=5)
deque([2, 3, 4, 5, 6], maxlen=5)
deque([3, 4, 5, 6, 7], maxlen=5)
deque([4, 5, 6, 7, 8], maxlen=5)
deque([5, 6, 7, 8, 9], maxlen=5)

In [291]:
a = list(range(100))
d = deque(a, maxlen=5)
print(d)

deque([95, 96, 97, 98, 99], maxlen=5)

In [ ]:
a = [10, 20, 30, 40, 50]

while (v := int(input("Enter a value (or 0 to quit): "))):
    a.append(v)
    a.sort() # Inefficient.
    print(f"{a=}")

a=[10, 20, 24, 30, 40, 50]
a=[10, 20, 24, 30, 33, 40, 50]
a=[10, 15, 20, 24, 30, 33, 40, 50]
a=[10, 15, 20, 24, 30, 33, 40, 50, 60]

In [293]:
from bisect import insort

a = [10, 20, 30, 40, 50]

while (v := int(input("Enter a value (or 0 to quit): "))):
    insort(a, v)
    print(f"{a=}")

a=[10, 20, 30, 34, 40, 50]
a=[10, 20, 22, 30, 34, 40, 50]
a=[10, 20, 22, 30, 34, 40, 50, 67]
a=[10, 20, 22, 30, 33, 34, 40, 50, 67]
a=[10, 12, 20, 22, 30, 33, 34, 40, 50, 67]
a=[10, 12, 15, 20, 22, 30, 33, 34, 40, 50, 67]
a=[10, 12, 14, 15, 20, 22, 30, 33, 34, 40, 50, 67]
a=[10, 12, 14, 15, 20, 22, 30, 33, 34, 40, 45, 50, 67]

In [294]:
a = []
while (v := int(input("Enter a value (or 0 to quit): "))):
    a.append(v)
    print(f"Pushed {v=}, {a=}")

Pushed v=23, a=[23]
Pushed v=78, a=[23, 78]
Pushed v=45, a=[23, 78, 45]
Pushed v=12, a=[23, 78, 45, 12]
Pushed v=145, a=[23, 78, 45, 12, 145]

In [295]:
from heapq import heappush, heappop

a = []
while (v := int(input("Enter a value (or 0 to quit): "))):
    heappush(a, v)
    print(f"Pushed {v=}, {a=}")

print("-" * 40)

while a:
    v = heappop(a)
    print(f"Popped {v=}, {a=}")

Pushed v=45, a=[45]
Pushed v=12, a=[12, 45]
Pushed v=78, a=[12, 45, 78]
Pushed v=15, a=[12, 15, 78, 45]
Pushed v=33, a=[12, 15, 78, 45, 33]
Pushed v=42, a=[12, 15, 42, 45, 33, 78]
Pushed v=67, a=[12, 15, 42, 45, 33, 78, 67]
Pushed v=17, a=[12, 15, 42, 17, 33, 78, 67, 45]
Pushed v=84, a=[12, 15, 42, 17, 33, 78, 67, 45, 84]
----------------------------------------
Popped v=12, a=[15, 17, 42, 45, 33, 78, 67, 84]
Popped v=15, a=[17, 33, 42, 45, 84, 78, 67]
Popped v=17, a=[33, 45, 42, 67, 84, 78]
Popped v=33, a=[42, 45, 78, 67, 84]
Popped v=42, a=[45, 67, 78, 84]
Popped v=45, a=[67, 84, 78]
Popped v=67, a=[78, 84]
Popped v=78, a=[84]
Popped v=84, a=[]

In [298]:
# Sets are unordered collections of unique hashable items.
# Sets in Python are implemented using hash-tables (hash-sets) and are mutable.

# Three ways to construct a set:
# 1. Using the literal notation using curly braces.
a = {10, 20, 30, 40, 50, 60, 70, 80}
print(a, type(a)) # The order of items in a set is unpredictable - but not random.

# 2. Using the set() constructor.
b = set("hello world") # Set of characters in the string
print(b, type(b))

# 3. Using a comprehension.
c = {x*x for x in range(10)} # Set of squares of numbers from 0 to 9
print(c, type(c))

{70, 40, 10, 80, 50, 20, 60, 30} <class 'set'>
{' ', 'l', 'w', 'e', 'r', 'd', 'h', 'o'} <class 'set'>
{0, 1, 64, 4, 36, 9, 16, 49, 81, 25} <class 'set'>

In [301]:
# Items of a set are unique.
a = {10, 20, 50, 30, 40, 50, 10, 60, 20, 20, 70, 50, 80, 10, 20, 30}
print(a)

a = [11, 65, 11, 78, 22, 56, 11, 78, 33, 22, 11, 67, 44, 22, 88]
b = set(a) # Remove duplicates from a list
print(b)

c = list(set(a))
print(c)

{70, 40, 10, 80, 50, 20, 60, 30}
{65, 33, 67, 11, 44, 78, 22, 56, 88}
[65, 33, 67, 11, 44, 78, 22, 56, 88]

In [304]:
# 2. Items of a set must be hashable.
a = {10, 20, 30, 40, 50} # Valid
print(a)

a = {10, "hello", 20.5, (1, 2), None, True}
print(a)

a = {10, 20, [30, 40], 50} # Invalid - list is not hashable
print(a)

{50, 20, 40, 10, 30}
{None, True, (1, 2), 20.5, 10, 'hello'}

TypeError: unhashable type: 'list'

In [305]:
a = {10, 20, {30, 40}, 50} # Invalid - set is not hashable

TypeError: unhashable type: 'set'

In [306]:
f = frozenset([30, 40]) # frozenset is an immutable version of set
a = {10, 20, f, 50} # Valid - frozenset is hashable
print(a)

{frozenset({40, 30}), 10, 20, 50}

In [309]:
a = {10, 20, 30, 40, 50, 60, 70, 80, 90, 100}
for v in a: # Iterable
    print(v, end=' ')
print()
print(len(a)) # Length
print(50 in a) # Membership
print(500 in a) # Membership

100 70 40 10 80 50 20 90 60 30
10
True
False

In [310]:
a[0]

TypeError: 'set' object is not subscriptable

In [311]:
a = [22, 45, 78, 12, 73, 28]
b = [56, 45, 34, 73, 89, 62]

c = []
for v in a:
    if v not in b:
        c.append(v)
print(c)

[22, 78, 12, 28]

NOTE: Sets are the preferred collection for item-wise comparisons.

In [ ]:
a = {22, 45, 78, 12, 73, 28}
b = {56, 45, 34, 73, 89, 62}

c = a - b # Set difference
print(c)
print(b - a) # Set difference
print(a & b) # Set intersection
print(a | b) # Set union
print(a ^ b) # Set symmetric difference

# NOTE: sets do not support concatenation or repetition operations.
# Instead, a + b, you'd rather use a | b (set union).
# Repetition is pointless for sets - as items are unique.

{78, 28, 12, 22}
{56, 89, 34, 62}
{73, 45}
{34, 73, 12, 45, 78, 22, 56, 89, 28, 62}
{12, 78, 22, 89, 28, 34, 56, 62}

In [316]:
a = [22, 65, 23, 88, 76, 45, 2, 89]
b = [ 23, 2, 22, 45]

print(set(a) > set(b)) # a is a superset of b
print(set(b) < set(a)) # b is a subset of a

True
True

In [ ]:
a = list(range(10_000))
b = set(range(10_000))

%timeit 9999 in a # O(n) time complexity
%timeit 9999 in b # O(1) time complexity

25.5 μs ± 196 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)
12.2 ns ± 0.133 ns per loop (mean ± std. dev. of 7 runs, 100,000,000 loops each)

In [318]:
a = list(range(100_000))
b = set(range(100_000))

%timeit 99999 in a # O(n) time complexity
%timeit 99999 in b # O(1) time complexity

255 μs ± 1.89 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)
12.2 ns ± 0.0564 ns per loop (mean ± std. dev. of 7 runs, 100,000,000 loops each)

In [ ]:
a = {33, 44, 55, 66, 22, 33, 77}
b = {55, 33, 44, 55, 89, 21, 16}
a.difference(b), a - b

# Likewise, the following set methods are also available:
# a.intersection(b)  -> a & b
# a.union(b)         -> a | b
# a.symmetric_difference(b) -> a ^ b
# a.issubset(b)      -> a < b
# a.issuperset(b)    -> a > b
# a.isdisjoint(b)    -> not a & b

({22, 66, 77}, {22, 66, 77})

In [324]:
a = {10, 20, 30, 40, 50}
a.add(60) # Add a single item
print(a)
a.add(27)
print(a)
a.add(27)
print(a)

{50, 20, 40, 10, 60, 30}
{50, 20, 40, 10, 27, 60, 30}
{50, 20, 40, 10, 27, 60, 30}

In [326]:
a.remove(30) # Remove a single item - raises KeyError if item not found
print(a)
a.remove(100) # Raises KeyError if item not found

KeyError: 30

In [328]:
b = a.copy() # Shallow copy of a set
print(b, type(b))
a.clear()
print(a, b)

{50, 20, 40, 10, 27, 60} <class 'set'>
set() {50, 20, 40, 10, 27, 60}

In [330]:
a = {10, 20, 30}
a = {} # This creates an empty dictionary, NOT an empty set.
print(a, type(a))
a = set() # This creates an empty set.
print(a, type(a))

{} <class 'dict'>
set() <class 'set'>

In [332]:
a = {10, 20, 30, 40, 50}

while a:
    v = a.pop()
    print(f"{v=}, {a=}")

v=50, a={20, 40, 10, 30}
v=20, a={40, 10, 30}
v=40, a={10, 30}
v=10, a={30}
v=30, a=set()

In [ ]:
a = {10, 20, 30, 40, 50, 60}
b = {44, 33, 22, 77}
a.update(b) # Add all items of b to a
print(a)

# Correlation between list and set:
# You append to a list, but add to a set.
# You extend a list, but update a set.
# You can however:
# copy a list or a set
# clear a list or a set
# remove an item from a list or a set
# pop an item from a list or a set

{33, 40, 10, 44, 77, 50, 20, 22, 60, 30}

In [334]:
print(dir(a))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']