# Python Bootcamp 2025
### Day 4: Dictionaries and Functions

#### Planned Agenda
##### Working with Dictionaries
 - Introduction to Dictionaries
 - Creating, assigning, updating dictionaries
 - Dictionary operations and builtin methods
 - `collections.ChainMap`, `collections.defaultdict` and `collections.Counter`

##### Functions
 - Creating user-defined functions
 - Functions as first-class *callable* objects
 - Default arguments and keyword arguments
 - Arbitrary argument-lists and arbitrary keyword-arguments
 - Variable scope and use of `global` declarative
 - Nested (inner) functions and external scope of variables
 - Function docstrings and interesting function object attributes

##### Misc
 - An overview on `itertools` module
 - An overview on `functools` module

### Dictionary: A collection of unique key:value pairs (where keys are unique and hashable)

Since Python 3.6+, dictionaries are "ordered".

In [ ]:
# Constructing a dictionary:
# 1. Literal syntax:
d = {"name": "Alice", "age": 30, "place": "Wonderland", 100: 200, (1, 2): 3}
print(d)

# Using the dict() constructor:
d = dict(name="Alice", age=30, place="Wonderland")
print(d)

{'name': 'Alice', 'age': 30, 'place': 'Wonderland', 100: 200, (1, 2): 3}
{'name': 'Alice', 'age': 30, 'place': 'Wonderland'}

In [15]:
d = {"first name": "John", "last name": "Doe"}
print(d)

dict(first_name="John", last_name="Doe", a1=200)

{'first name': 'John', 'last name': 'Doe'}

{'first_name': 'John', 'last_name': 'Doe', 'a1': 200}

In [17]:
d = {"name": "John", "age": 30, "name": "Smith"}
print(d)  # Output: {'name': 'Smith', 'age': 30}

d = dict(name="John", age=30, name="Smith")

{'name': 'Smith', 'age': 30}

SyntaxError: keyword argument repeated: name (2097983184.py, line 4)

In [19]:
# 3. Creating dictionaries using sequences of key-value pairs
pairs = [("name", "Alice"), ("age", 30), ("place", "Wonderland")]
d = dict(pairs)
print(d)

keys = ["name", "age", "place"]
values = ["Alice", 30, "Wonderland"]
dict(zip(keys, values))

{'name': 'Alice', 'age': 30, 'place': 'Wonderland'}

{'name': 'Alice', 'age': 30, 'place': 'Wonderland'}

In [20]:
# 4. Using dictionary comprehensions
squares = {x: x * x for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [27]:
d = {"name": "Alice", "age": 30, "place": "Wonderland", 100: 200, (1, 2): 3}
print(d)
print(d["name"])
print(d[(1, 2)])
print(d[100])

key = 1, 2
print(d[key])

key = 100
print(d[key])

print(d["city"])

{'name': 'Alice', 'age': 30, 'place': 'Wonderland', 100: 200, (1, 2): 3}
Alice
3
200
3
200

KeyError: 'city'

In [ ]:
d = {"name": "Alice", "age": 30, "place": "Wonderland", 100: 200, (1, 2): 3}
print(d)

print("place" in d) # The 'in' operator checks for key existence
print("city" in d)

key = "city"
#value = d[key] if key in d else "Not Found"
value = d.get(key, "Not Found") # returns "Not Found" if key not found
print(value)

key = "dept"
value = d.get(key) # returns None if key not found
print(value)

{'name': 'Alice', 'age': 30, 'place': 'Wonderland', 100: 200, (1, 2): 3}
True
False
Not Found
None

In [40]:
d = {"name": "Alice", "age": 30, "place": "Wonderland", 100: 200, (1, 2): 3}
print(d)
d["age"] = 31  # Update existing key
print(d)
d["city"] = "SomewhereLand"  # Add new key-value pair
print(d)

{'name': 'Alice', 'age': 30, 'place': 'Wonderland', 100: 200, (1, 2): 3}
{'name': 'Alice', 'age': 31, 'place': 'Wonderland', 100: 200, (1, 2): 3}
{'name': 'Alice', 'age': 31, 'place': 'Wonderland', 100: 200, (1, 2): 3, 'city': 'SomewhereLand'}

In [42]:
print(d)
del d["city"]  # Remove key-value pair
print(d)

{'name': 'Alice', 'age': 31, 'place': 'Wonderland', 100: 200, (1, 2): 3, 'city': 'SomewhereLand'}
{'name': 'Alice', 'age': 31, 'place': 'Wonderland', 100: 200, (1, 2): 3}

In [ ]:
a = {"x": 100, "y": 200}
b = {"y": 300, "z": 400}
c = a | b # Merges a and b, with b's values taking precedence for duplicate keys
# The above feature is available in Python 3.9 and later

c = {**a, **b} # Merges a and b, with b's values taking precedence for duplicate keys
# The above feature is supported in Python 3.5 and later (though not recommended)

print(a, b, c, sep="\n")

{'x': 100, 'y': 200}
{'y': 300, 'z': 400}
{'x': 100, 'y': 300, 'z': 400}

In [48]:
# Dictionary methods
d = {"name": "Alice", "age": 30, "place": "Wonderland"}
print(d)
print(d.keys())   # dict_keys(['name', 'age', 'place'])
print(d.values()) # dict_values(['Alice', 30, 'Wonderland'])
print(d.items())  # dict_items([('name', 'Alice'), ('age', 30), ('place', 'Wonderland')])

{'name': 'Alice', 'age': 30, 'place': 'Wonderland'}
dict_keys(['name', 'age', 'place'])
dict_values(['Alice', 30, 'Wonderland'])
dict_items([('name', 'Alice'), ('age', 30), ('place', 'Wonderland')])

In [52]:
d = {"name": "Alice", "age": 30, "place": "Wonderland"}
keys = d.keys()

print(keys, type(keys))

d["city"] = "SomewhereLand"
print(keys, type(keys))
del d["age"]
print(keys, type(keys))

dict_keys(['name', 'age', 'place']) <class 'dict_keys'>
dict_keys(['name', 'age', 'place', 'city']) <class 'dict_keys'>
dict_keys(['name', 'place', 'city']) <class 'dict_keys'>

In [54]:
d = {"name": "Alice", "age": 30, "place": "Wonderland"}
values = d.values()

print(values, type(values))

d["age"] = 12
print(values, type(values))

dict_values(['Alice', 30, 'Wonderland']) <class 'dict_values'>
dict_values(['Alice', 12, 'Wonderland']) <class 'dict_values'>

In [56]:
for k in d.keys(): # This is REDUNDANT, prefer 'for k in d:'
    print(k)

name
age
place

In [ ]:
for k in d:  # Iterates over keys by default
    print(k)

name
age
place

In [ ]:
for v in d.values():   # Iterates over values
    print(v)

Alice
12
Wonderland

In [62]:
for k, v in d.items(): # Iterates over key-value pairs
    print(k, v)

name Alice
age 12
place Wonderland

In [ ]:
for k in d:  # Another technique to iterate over keys and access values
    print(k, d[k])

name Alice
age 12
place Wonderland

In [64]:
for k in d:  # Another technique to iterate over keys and access values
    print(d[k])

Alice
12
Wonderland

In [66]:
d = {"name": "Alice", "age": 30, "place": "Wonderland"}

v = d.get("city", "SomewhereLand")
print(f"{d=}, {v=}")

d={'name': 'Alice', 'age': 30, 'place': 'Wonderland'}, v='SomewhereLand'

In [68]:
d = {"name": "Alice", "age": 30, "place": "Wonderland"}

v = d.setdefault("city", "SomewhereLand")
print(f"{d=}, {v=}")

v = d.setdefault("city", "NewPlace")
print(f"{d=}, {v=}")

d={'name': 'Alice', 'age': 30, 'place': 'Wonderland', 'city': 'SomewhereLand'}, v='SomewhereLand'
d={'name': 'Alice', 'age': 30, 'place': 'Wonderland', 'city': 'SomewhereLand'}, v='SomewhereLand'

In [70]:
# Another way to create a dictionary.
weather = dict().fromkeys(["temperature", "humidity", "windspeed"], 0)
weather

{'temperature': 0, 'humidity': 0, 'windspeed': 0}

In [72]:
d = {"name": "Alice", "age": 30, "place": "Wonderland"}
e = d.copy() # Creates a shallow copy of d
print(d, id(d), e, id(e))
d.clear()
print(d, id(d), e, id(e))

{'name': 'Alice', 'age': 30, 'place': 'Wonderland'} 4506506944 {'name': 'Alice', 'age': 30, 'place': 'Wonderland'} 4445201984
{} 4506506944 {'name': 'Alice', 'age': 30, 'place': 'Wonderland'} 4445201984

In [75]:
d = {"name": "Alice", "age": 30, "place": "Wonderland"}
v = del d["name"]
v

SyntaxError: invalid syntax (420306428.py, line 2)

In [ ]:
d = {"name": "Alice", "age": 30, "place": "Wonderland"}
v = d.pop("name") # Removes the key and returns its value
print(d)
print(v)

{'age': 30, 'place': 'Wonderland'}
Alice

In [77]:
d = {"name": "Alice", "age": 30, "place": "Wonderland"}
v = d.pop("name") # Removes the key and returns its value
print(d)
print(v)

d.pop()

{'age': 30, 'place': 'Wonderland'}
Alice

TypeError: pop expected at least 1 argument, got 0

In [78]:
d = {"name": "Alice", "age": 30, "place": "Wonderland"}
k, v = d.popitem() # Removes and returns an arbitrary (key, value) pair
print(d)
print(k, v)

{'name': 'Alice', 'age': 30}
place Wonderland

In [79]:
d = {}
while True:
    k = input("Enter key (or 'exit' to quit): ")
    if k.lower() == 'exit':
        break
    v = input("Enter value: ")
    d[k] = v
    print(d)

{'name': 'John'}
{'name': 'John', 'role': 'Developer'}
{'name': 'John', 'role': 'Developer', 'company': 'Adobe'}
{'name': 'John', 'role': 'Developer', 'company': 'Adobe', 'place': 'Noida'}

In [80]:
while d:
    k, v = d.popitem()
    print(f"Removed ({k}: {v}), Remaining: {d}")

Removed (place: Noida), Remaining: {'name': 'John', 'role': 'Developer', 'company': 'Adobe'}
Removed (company: Adobe), Remaining: {'name': 'John', 'role': 'Developer'}
Removed (role: Developer), Remaining: {'name': 'John'}
Removed (name: John), Remaining: {}

In [81]:
d = {"name": "Alice", "age": 30, "place": "Wonderland"}
e = {"city": "SomewhereLand", "age": 12, "friend": "Hatter"}
d.update(e) # Merges e into d, with e's values taking precedence for duplicate keys
print(d)

{'name': 'Alice', 'age': 12, 'place': 'Wonderland', 'city': 'SomewhereLand', 'friend': 'Hatter'}

In [ ]:
# %load https://files.chandrashekar.info/count_words_ex.py
"""
Write a program to count the number of occurrence of each word in a string
delimited by white-spaces.

Example usage:
--------------
   >>> quote = '''
   ... When I see a bird
   ... that walks like a duck
   ... and swims like a duck
   ... and quacks like a duck,
   ... I call that bird a duck
   ... '''

   >>> count_words(quote)
   'When' occurs 1 times
   'I' occurs 2 times
   'see' occurs 1 times
   'a' occurs 5 times
   'bird' occurs 2 times
   'that' occurs 2 times
   'walks' occurs 1 times
   'like' occurs 3 times
   'duck' occurs 3 times
   'and' occurs 2 times
   'swims' occurs 1 times
   'quacks' occurs 1 times
   'duck,' occurs 1 times
   'call' occurs 1 times

   >>>

"""
def count_words(line):
    freq = {}
    for word in line.split():
        if word in freq:
            freq[word] += 1
        else:
            freq[word] = 1

if __name__ == '__main__':
    import doctest
    doctest.testmod()

In [92]:
s = "this is a test is a test is a test string with test repeated test number of times"

def count_words(line):
    freq = {}
    for word in line.split():
        if word not in freq:
            freq[word] = 1
        else:
            freq[word] += 1
    print(freq)


count_words(s)

{'this': 1, 'is': 3, 'a': 3, 'test': 5, 'string': 1, 'with': 1, 'repeated': 1, 'number': 1, 'of': 1, 'times': 1}

In [94]:
s = "this is a test is a test is a test string with test repeated test number of times"

def count_words(line):
    freq = {}
    for word in line.split():
        freq[word] = freq.get(word, 0) + 1
    for w, c in freq.items():
        print(f"'{w}' occurs {c} times")


count_words(s)

'this' occurs 1 times
'is' occurs 3 times
'a' occurs 3 times
'test' occurs 5 times
'string' occurs 1 times
'with' occurs 1 times
'repeated' occurs 1 times
'number' occurs 1 times
'of' occurs 1 times
'times' occurs 1 times

In [ ]:
s = "this is a test is a test is a test string with test repeated test number of times"

def count_words(line):
    from collections import defaultdict
    freq = defaultdict(int)
    for word in line.split():
        freq[word] += 1 # freq[word] = freq[word] + 1
    for w, c in freq.items():
        print(f"'{w}' occurs {c} times")


count_words(s)

'this' occurs 1 times
'is' occurs 3 times
'a' occurs 3 times
'test' occurs 5 times
'string' occurs 1 times
'with' occurs 1 times
'repeated' occurs 1 times
'number' occurs 1 times
'of' occurs 1 times
'times' occurs 1 times

In [101]:
from collections import defaultdict

d = defaultdict(int)
print(d)

print(d["name"], d)
int()

defaultdict(<class 'int'>, {})
0 defaultdict(<class 'int'>, {'name': 0})

0

In [102]:
from collections import defaultdict

d = defaultdict(lambda: "default")
print(d)

print(d["name"], d)
int()

defaultdict(<function <lambda> at 0x10e7774c0>, {})
default defaultdict(<function <lambda> at 0x10e7774c0>, {'name': 'default'})

0

In [110]:
from collections import defaultdict


def default_value(): return "Not set"

d = defaultdict(default_value)
print(d)

d["name"] = "John"
print(d)
print(d["name"])
print(d["age"])
print(d)

defaultdict(<function default_value at 0x10e7a4900>, {})
defaultdict(<function default_value at 0x10e7a4900>, {'name': 'John'})
John
Not set
defaultdict(<function default_value at 0x10e7a4900>, {'name': 'John', 'age': 'Not set'})

In [112]:
s = "this is a test is a test is a test string with test repeated test number of times"

def count_words(line):
    from collections import Counter
    freq = Counter(line.split())
  
    for w, c in freq.items():
        print(f"'{w}' occurs {c} times")

count_words(s)

'this' occurs 1 times
'is' occurs 3 times
'a' occurs 3 times
'test' occurs 5 times
'string' occurs 1 times
'with' occurs 1 times
'repeated' occurs 1 times
'number' occurs 1 times
'of' occurs 1 times
'times' occurs 1 times

In [113]:
from collections import Counter

c = Counter([11, 22, 11, 55, 11, 66, 22, 33, 44, 121, 22, 66, 33, 22])
print(c)

Counter({22: 4, 11: 3, 66: 2, 33: 2, 55: 1, 44: 1, 121: 1})

In [116]:
s = "this is a test is a test is a test string test times test string repeated test times"
Counter(s)

Counter({'t': 18,
         ' ': 17,
         's': 14,
         'e': 11,
         'i': 8,
         'a': 4,
         'r': 3,
         'n': 2,
         'g': 2,
         'm': 2,
         'h': 1,
         'p': 1,
         'd': 1})

In [121]:
s = "this is a test is a test is a test string test times test string repeated test times"
Counter(s.split()).most_common(3)

[('test', 6), ('is', 3), ('a', 3)]

In [122]:
s = "this is a test is a test is a test string test times test string repeated test times"
Counter(s.split()).most_common()[-2:]

[('this', 1), ('repeated', 1)]

In [128]:
stats = {"temperature": 30, "humidity": 50}

c = Counter(stats)
print(c)

n = {"temperature": +5, "humidity": -6}
c + Counter(n)

Counter({'humidity': 50, 'temperature': 30})

Counter({'humidity': 44, 'temperature': 35})

In [130]:
from collections import OrderedDict

In [131]:
OrderedDict?

Init signature: OrderedDict(self, /, *args, **kwargs)
Docstring:      Dictionary that remembers insertion order
File:           /opt/anaconda3/lib/python3.12/collections/__init__.py
Type:           type
Subclasses:

In [134]:
a = 10
v = type(a).__name__
print(v)

int

In [135]:
data = [45, "hello", 4.5, 56, "world", None, 23, 5.6]

def organize_store(d):
    result = {}
    for item in d:
        key = type(item).__name__
        if key not in result:
            result[key] = [item]
        else:
            result[key].append(item)
    return result

result = organize_store(data)
print(result)
# OUT: {"int": [45, 56, 23], "str": ["hello", "world"], "float": [4.5, 5.6], "NoneType": [None]}

{'int': [45, 56, 23], 'str': ['hello', 'world'], 'float': [4.5, 5.6], 'NoneType': [None]}

In [ ]:
data = [45, "hello", 4.5, 56, "world", None, 23, 5.6]

def organize_store(d):
    result = {}
    for item in d:
        key = type(item).__name__
        result.setdefault(key, []).append(item)
    return result

result = organize_store(data)
print(result)
# OUT: {"int": [45, 56, 23], "str": ["hello", "world"], "float": [4.5, 5.6], "NoneType": [None]}

{'int': [45, 56, 23], 'str': ['hello', 'world'], 'float': [4.5, 5.6], 'NoneType': [None]}

In [137]:
data = [45, "hello", 4.5, 56, "world", None, 23, 5.6]

def organize_store(d):
    from collections import defaultdict
    result = defaultdict(list)
    for item in d:
        key = type(item).__name__
        result[key].append(item)
    return dict(result)

result = organize_store(data)
print(result)
# OUT: {"int": [45, 56, 23], "str": ["hello", "world"], "float": [4.5, 5.6], "NoneType": [None]}

{'int': [45, 56, 23], 'str': ['hello', 'world'], 'float': [4.5, 5.6], 'NoneType': [None]}

#### An overview on `itertools`
The `itertools` module provide efficient iteration algorithms for use in Python code.

In [139]:
import itertools

# Infinity counter
for i in itertools.count():
    if i > 15:
        break
    print("Counting", i)

Counting 0
Counting 1
Counting 2
Counting 3
Counting 4
Counting 5
Counting 6
Counting 7
Counting 8
Counting 9
Counting 10
Counting 11
Counting 12
Counting 13
Counting 14
Counting 15

In [141]:
players = "John", "Sam", "Jones", "Claire"

list(zip(itertools.count(), players))
enumerate(players)

In [142]:
import itertools

# Infinity counter
for i in itertools.count(10):
    if i > 15:
        break
    print("Counting", i)

Counting 10
Counting 11
Counting 12
Counting 13
Counting 14
Counting 15

In [143]:
import itertools

# Infinity counter
for i in itertools.count(10, 2):
    if i > 15:
        break
    print("Counting", i)

Counting 10
Counting 12
Counting 14

In [146]:
a = [10, 20, 30]
b = [40, 50, 60]

for x, y in itertools.product(a, b):
    print(x, y)

10 40
10 50
10 60
20 40
20 50
20 60
30 40
30 50
30 60

In [151]:
a = [10, 20, 30]

for x, y, z in itertools.permutations(a, 3):
    print(x, y, z)

10 20 30
10 30 20
20 10 30
20 30 10
30 10 20
30 20 10

In [154]:
import string
string.ascii_letters, string.digits, string.printable

('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ',
 '0123456789',
 '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c')

In [162]:
import random
random.randint(10, 20)

20

In [170]:
random.sample(string.ascii_letters, 6)

['x', 'q', 'Q', 'f', 'c', 'T']

In [188]:
"".join(random.sample(string.printable[:-5], 8))

'iXo-l7\\6'

In [196]:
"".join(random.sample(string.ascii_letters + string.digits, 8))

'P7b1dfm8'

In [197]:
chars = (string.ascii_letters + string.digits) * 8
i = 0
for passwd in itertools.permutations(chars, 8):
    print("".join(passwd))
    i += 1
    if i > 10:
        break

abcdefgh
abcdefgi
abcdefgj
abcdefgk
abcdefgl
abcdefgm
abcdefgn
abcdefgo
abcdefgp
abcdefgq
abcdefgr

In [200]:
a = [10, 20, 30, 40]

for v in itertools.combinations(a, 2):
    print(v)

print("-" * 40)

for v in itertools.permutations(a, 2):
    print(v)

(10, 20)
(10, 30)
(10, 40)
(20, 30)
(20, 40)
(30, 40)
----------------------------------------
(10, 20)
(10, 30)
(10, 40)
(20, 10)
(20, 30)
(20, 40)
(30, 10)
(30, 20)
(30, 40)
(40, 10)
(40, 20)
(40, 30)

In [204]:
a = [10, 20, 30]
b = [50, 60, 70]

for v in a + b: # This is not memory efficient
    print(v)

print("-" * 40)

for v in itertools.chain(a, b):
    print(v)

10
20
30
50
60
70
----------------------------------------
10
20
30
50
60
70

In [205]:
c = itertools.chain(a, b)
c

In [212]:
next(c)

StopIteration:

In [222]:
a = {"x": 10, "y": 20}

b = {"y": 25, "z": 100, "v": 300}

from collections import ChainMap

c = ChainMap(a, b)
for k, v in c.items():
    print(k, v)

c["x"] = 15

c["y"] = 22
print(c)
print(a, b)

del c["y"]
print(c, a, b)
print(c["y"])

y 20
z 100
v 300
x 10
ChainMap({'x': 15, 'y': 22}, {'y': 25, 'z': 100, 'v': 300})
{'x': 15, 'y': 22} {'y': 25, 'z': 100, 'v': 300}
ChainMap({'x': 15}, {'y': 25, 'z': 100, 'v': 300}) {'x': 15} {'y': 25, 'z': 100, 'v': 300}
25

In [227]:
default_config = {"host": "localhost", "port": 8080, "site_folder": "/var/www"}
system_config = {"host": "telesto", "port": 443, "role": "admin"}

user_config  = {"port": 80, "site_folder": "/home/joe/sites"}

config = ChainMap(user_config, system_config, default_config)
print(config["port"])
print(config["site_folder"])
print(config["role"])
del config["site_folder"]
print(config["site_folder"])

80
/home/joe/sites
admin
/var/www

In [228]:
a = [1, 2, 3, 4, 5, 6]
for v in itertools.accumulate(a):
    print(v)

1
3
6
10
15
21

In [229]:
a = ["test", "data", "new", "string"]
for v in itertools.accumulate(a):
    print(v)

test
testdata
testdatanew
testdatanewstring

In [232]:
c = [(1, 2), (3, 4), (5, 6)]
for v in itertools.accumulate(c):
    print(v)

sum(list(itertools.accumulate(c))[-1])

(1, 2)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

21

In [235]:
a = string.ascii_uppercase
print(a)

for c in itertools.batched(a, 4):
    print(c)

ABCDEFGHIJKLMNOPQRSTUVWXYZ
('A', 'B', 'C', 'D')
('E', 'F', 'G', 'H')
('I', 'J', 'K', 'L')
('M', 'N', 'O', 'P')
('Q', 'R', 'S', 'T')
('U', 'V', 'W', 'X')
('Y', 'Z')

In [240]:
values = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

print(values[::2], values[1::2])
new_values = zip(values[::2], values[1::2])


for x, y in new_values:
    print(x, y)

[10, 30, 50, 70, 90] [20, 40, 60, 80, 100]
10 20
30 40
50 60
70 80
90 100

In [ ]:
values = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for x, y in itertools.batched(values, n=2):
    print(x, y)

10 20
30 40
50 60
70 80
90 100

In [242]:
values = [[1, 2, 3, 4], [5, 6, 7, 8], [10, 20, 30, 40]]

for v in itertools.chain(*values):
    print(v)

1
2
3
4
5
6
7
8
10
20
30
40

In [243]:
values = [[1, 2, 3, 4], [5, 6, 7, 8], [10, 20, 30, 40]]

for v in itertools.chain.from_iterable(values):
    print(v)

1
2
3
4
5
6
7
8
10
20
30
40

In [245]:
a = list(range(100))
b = list(itertools.batched(a, n=10))
print(b)

[(0, 1, 2, 3, 4, 5, 6, 7, 8, 9), (10, 11, 12, 13, 14, 15, 16, 17, 18, 19), (20, 21, 22, 23, 24, 25, 26, 27, 28, 29), (30, 31, 32, 33, 34, 35, 36, 37, 38, 39), (40, 41, 42, 43, 44, 45, 46, 47, 48, 49), (50, 51, 52, 53, 54, 55, 56, 57, 58, 59), (60, 61, 62, 63, 64, 65, 66, 67, 68, 69), (70, 71, 72, 73, 74, 75, 76, 77, 78, 79), (80, 81, 82, 83, 84, 85, 86, 87, 88, 89), (90, 91, 92, 93, 94, 95, 96, 97, 98, 99)]

In [247]:
a = ["this", "is", "a", "test", "string"]
b = [1, 1, 0, 0, 1]

list(itertools.compress(a, b))

['this', 'is', 'string']

In [249]:
a = [10, 15, 17, 12, 7, 22, 14, 5, 35, 45]

list(itertools.dropwhile(lambda x: x < 20, a))

[22, 14, 5, 35, 45]

In [254]:
log = """
this is a test log
this is another line of log
this yet another line of log
error: something bad happened
this is after the error
this is another line after the error
"""

for line in itertools.dropwhile(lambda s: "error" not in s, log.splitlines()):
    print("->", line)

-> error: something bad happened
-> this is after the error
-> this is another line after the error

In [258]:
log = """
this is a test log
this is another line of log
this yet another line of log
error: something bad happened
this is after the error
this is another line after the error
"""

for line in itertools.takewhile(lambda s: "error" not in s, log.splitlines()):
    print("->", line)

->
-> this is a test log
-> this is another line of log
-> this yet another line of log

In [257]:
a = [10, 15, 17, 32, 12, 56, 7, 22, 14, 5, 35, 45]
list(itertools.filterfalse(lambda x: x < 20, a))

[32, 56, 22, 35, 45]

In [260]:
log = """This is a test log
this is another line of log
this yet another line of log
--- START ERROR ---
error: something bad happened
this is after the error
this is another line after the error
--- END ERROR ---
this is yet another line of log
this is another line of log
this yet another line of log
"""

for line in itertools.dropwhile(lambda s: "--- START ERROR ---" not in s, 
                                itertools.takewhile(lambda x: "--- END ERROR ---" not in x, log.splitlines())):
    print("->", line)

-> --- START ERROR ---
-> error: something bad happened
-> this is after the error
-> this is another line after the error

In [269]:
names = "john", "jane", "doe", "alice", "bob", "steve", "chandrashekar", "mike", "sara", "alexander", "julia", "laura"
for length, group in itertools.groupby(sorted(names, key=len), len):
    print(length, list(group))

3 ['doe', 'bob']
4 ['john', 'jane', 'mike', 'sara']
5 ['alice', 'steve', 'julia', 'laura']
9 ['alexander']
13 ['chandrashekar']

In [270]:
sorted(names)

['alexander',
 'alice',
 'bob',
 'chandrashekar',
 'doe',
 'jane',
 'john',
 'julia',
 'laura',
 'mike',
 'sara',
 'steve']

In [268]:
sorted(names, key=len)

['doe',
 'bob',
 'john',
 'jane',
 'mike',
 'sara',
 'alice',
 'steve',
 'julia',
 'laura',
 'alexander',
 'chandrashekar']

In [271]:
names = "john", "jane", "doe", "alice", "bob", "steve", "chandrashekar", "mike", "sara", "alexander", "julia", "laura"
for length, group in itertools.groupby(sorted(names), lambda x: x[0]):
    print(length, list(group))

a ['alexander', 'alice']
b ['bob']
c ['chandrashekar']
d ['doe']
j ['jane', 'john', 'julia']
l ['laura']
m ['mike']
s ['sara', 'steve']

In [283]:
# id, category, name, price
# Print the total price of each category
groceries = """101,fruit,orange,50
102,vegetable,carrot,30
103,fruit,apple,20
104,fruit,banana,25
105,vegetable,broccoli,15
106,grain,rice,100
107,grain,wheat,80
108,vegetable,spinach,20
109,fruit,grape,40
110,grain,oats,60
"""

groceries = sorted(groceries.splitlines(), key=lambda x: x.split(",")[1])
import itertools
for category, items in itertools.groupby(groceries, key=lambda x: x.split(",")[1]):
    print(category, sum(int(rec.split(",")[-1]) for rec in items))

fruit 135
grain 240
vegetable 65

In [ ]:
a = list(range(10, 100, 10))
print(a)
for v in itertools.islice(a, 3, 7):
    print(v)
print("-" * 40)

print(sum(itertools.islice(a, 3, 7))) # This is memory efficient for very large lists with large slices.
print(sum(a[3:7])) # This is NOT memory for very large lists with large slices.

[10, 20, 30, 40, 50, 60, 70, 80, 90]
40
50
60
70
----------------------------------------
220
220

In [295]:
a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i, j in itertools.pairwise(a):
    print(i, j)

print("-" * 40)
for i, j in itertools.batched(a, 2):
    print(i, j)

10 20
20 30
30 40
40 50
50 60
60 70
70 80
80 90
90 100
----------------------------------------
10 20
30 40
50 60
70 80
90 100

In [ ]:
a = [(1, 2, 3, 4), (5, 6), (7, 8, 9, 10, 11)]
print(list(itertools.starmap(lambda *n: sum(n), a))) # Variadic version of map() function
print([ sum(n) for n in a]) # Comprehensions are easier to read and understand.

[10, 11, 45]
[10, 11, 45]

In [305]:
a = [10, 15, 17]

x, y = itertools.tee(a, 2)
print(x, y)

for v in x:
    print(v)

for v in y:
    print(v)

<itertools._tee object at 0x10e6a6b40> <itertools._tee object at 0x10e6a7240>
10
15
17
10
15
17

In [306]:
a = [10, 20, 30, 40]
x = iter(a)
x

In [312]:
next(x)

StopIteration:

In [ ]:
a = [10, 20, 30, 40]
x, y = itertools.tee(a, 2)
x, y = iter(a), iter(a)
print(x, y)

<itertools._tee object at 0x10e670d80> <itertools._tee object at 0x10e672dc0>

### Functions

In [321]:
def greet():
    print("Hello, World!")

greet()

g = greet
g()

g.__call__.__call__()

Hello, World!
Hello, World!
Hello, World!

In [325]:
def add(x, y):
    return x + y

def sub(x, y):
    return x - y

def mul(x, y):
    return x * y

tasks = [add, sub, mul] # A very simplistic form of "Chain of Responsibility" pattern
print(tasks)

a, b = 40, 20
for task in tasks:
    print(task(a, b))

del add
add(10, 20)

[<function add at 0x10ea6d440>, <function sub at 0x10ea6ccc0>, <function mul at 0x10ea6c680>]
60
20
800

NameError: name 'add' is not defined

In [328]:
a = int(5.6) # classes are also callable objects. Calling a class constructs an instance of that class.
print(a)
a()

5

TypeError: 'int' object is not callable

NOTE: Functions are instances of 'function' class, however, these instances are "Callable"

In [329]:
a = 100

callable(a)

False

In [333]:
import sys

callable(sys.version)
print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 08:22:19) [Clang 14.0.6 ]

In [336]:
callable(sys.maxsize)
sys.maxsize

9223372036854775807

In [338]:
callable(sys.getrefcount)

True

In [341]:
a = [10, 20, 30]

def greet(): # All user-defined functions are instances of 'function' class
    print("Hello, World!")

print(greet, type(greet))
print(a.append, type(a.append)) # Builtin functions and methods of built-in types are instances of 'builtin_function_or_method' class
print(len, type(len))

<function greet at 0x10eb694e0> <class 'function'>
<built-in method append of list object at 0x10cc3ab00> <class 'builtin_function_or_method'>
<built-in function len> <class 'builtin_function_or_method'>

In [350]:
### Function prototypes


def greet(name):
    print(f"Hello, {name}!")

greet("John")



def greet():
    print("Hello, World!")

greet()

greet("John")

Hello, John!
Hello, World!

TypeError: greet() takes 0 positional arguments but 1 was given

In [ ]:
### Function prototypes


def greet(name="World"): # Function definition with a default argument
    print(f"Hello, {name}!")

greet("John")
greet()

Hello, John!
Hello, World!

In [354]:
def greet(name, message="Hello"):
    print(f"{message}, {name}!")

greet("John")
greet("John", "Goodbye")

Hello, John!
Goodbye, John!

In [356]:
def greet(name="Guest", message="Hello"):
    print(f"{message}, {name}!")

greet() # This is a no-args function call
greet("John") # The arguments passed are known as positional arguments
greet("John", "Goodbye") # The arguments passed are known as positional arguments

Hello, Guest!
Hello, John!
Goodbye, John!

In [357]:
def greet(name="Guest", message):
    print(f"{message}, {name}!")

greet() # This is a no-args function call
greet("John") # The arguments passed are known as positional arguments
greet("John", "Goodbye") # The arguments passed are known as positional arguments

SyntaxError: parameter without a default follows parameter with a default (1687317113.py, line 1)

NOTE: In function definitions, non-default argument cannot follow default arguments.

In [ ]:
def greet(name="Guest", place="Delhi"):
    print(f"Hello {name}, Welcome to {place}!")

greet("John", "Mumbai")
greet("Bengaluru", "John") # This is NOT what you expected
greet(place="Bengaluru", name="John") # Arguments passed by name are known as keyword arguments

Hello John, Welcome to Mumbai!
Hello Bengaluru, Welcome to John!
Hello John, Welcome to Bengaluru!

In [366]:
def greet(name, place):
    print(f"Hello {name}, Welcome to {place}!")

greet("John", "Mumbai")
greet(place="Bengaluru", name="John") # Arguments passed by name are known as keyword arguments
greet("Sam", place="Noida")
greet(place="Noida")

Hello John, Welcome to Mumbai!
Hello John, Welcome to Bengaluru!
Hello Sam, Welcome to Noida!

TypeError: greet() missing 1 required positional argument: 'name'

In [367]:
def greet(name, place):
    print(f"Hello {name}, Welcome to {place}!")

greet(place="Noida", "Smith")

SyntaxError: positional argument follows keyword argument (4156677811.py, line 4)

NOTE: In function calls, position argument cannot follow a default argument

In [370]:
def greet(*users): # Arbitrary argument list / aka variadic function / varargs
    for u in users:
        print(f"Hello {u}, Welcome!")
    print("-" * 40)


greet("John")
greet("Adrian", "Claire", "Bourne", "Emily")
greet("Smith", "Steve")
greet()

Hello John, Welcome!
----------------------------------------
Hello Adrian, Welcome!
Hello Claire, Welcome!
Hello Bourne, Welcome!
Hello Emily, Welcome!
----------------------------------------
Hello Smith, Welcome!
Hello Steve, Welcome!
----------------------------------------
----------------------------------------

In [ ]:
def store(name, role, dept, place):
    print(f"Storing {name=}, {role=}, {dept=}, {place=}")

rec = "John", "Manager", "Sales", "Delhi"

#store(rec[0], rec[1], rec[2], rec[3])
store(*rec) # Argument unpacking / Unpacking operator

TypeError: store() takes 4 positional arguments but 5 were given

In [378]:
def store(name, role, dept, place):
    print(f"Storing {name=}, {role=}, {dept=}, {place=}")

store("John", "Manager", place="Delhi", dept="Sales")

Storing name='John', role='Manager', dept='Sales', place='Delhi'

In [379]:
def store(name, role, dept, place):
    print(f"Storing {name=}, {role=}, {dept=}, {place=}")

store("John", "Manager", place="Delhi", dept="Sales", role="Admin")

TypeError: store() got multiple values for argument 'role'

In [380]:
def store(name, role, dept, place):
    print(f"Storing {name=}, {role=}, {dept=}, {place=}")

store("John", "Manager", place="Delhi", dept="Sales", place="Mumbai")

SyntaxError: keyword argument repeated: place (2106664498.py, line 4)

In [383]:
# In below definition, name and role are positional-only parameters
def store(name, role, /, dept, place):
    print(f"Storing {name=}, {role=}, {dept=}, {place=}")

store("John", "Manager", "Delhi", "Sales")
store("John", "Manager", place="Delhi", dept="Sales")
store(name="John", role="Manager", place="Delhi", dept="Sales")

Storing name='John', role='Manager', dept='Delhi', place='Sales'
Storing name='John', role='Manager', dept='Sales', place='Delhi'

TypeError: store() got some positional-only arguments passed as keyword arguments: 'name, role'

In [390]:
# In below definition, name and role are positional-only parameters
# Arguments after * are keyword-only parameters
def store(name, role, /, dept, *, place):
    print(f"Storing {name=}, {role=}, {dept=}, {place=}")

store("John", "Manager", "Sales", place="Delhi")
store("John", "Manager", dept="Sales", place="Delhi")
store("John", "Manager", "Sales", "Delhi")

Storing name='John', role='Manager', dept='Sales', place='Delhi'
Storing name='John', role='Manager', dept='Sales', place='Delhi'

TypeError: store() takes 3 positional arguments but 4 were given

In [396]:
def testfn(x, y, *, z=100, w=200, v=300):
    print(f"{x=}, {y=}, {z=}, {w=}, {v=}")

testfn(10, 20)
testfn(x=15, y=25)
testfn(10, 20, z=30, w=12, v=11)

x=10, y=20, z=100, w=200, v=300
x=15, y=25, z=100, w=200, v=300
x=10, y=20, z=30, w=12, v=11

In [400]:
def info(name, age=30, *skills):
    print(f"{name=}, {age=}, {skills=}")

info("John")
info("John", 25)
info("John", 35, "Python", "Django", "Docker")
info("John", skills=("Python", "Django", "Docker"))

name='John', age=30, skills=()
name='John', age=25, skills=()
name='John', age=35, skills=('Python', 'Django', 'Docker')

TypeError: info() got an unexpected keyword argument 'skills'

In [405]:
def info(name, *skills, age=30):
    print(f"{name=}, {age=}, {skills=}")

info("John")
info("John", "Python", "Django", "Docker")
info("John", "Python", "Django", "Docker", age=35)

name='John', age=30, skills=()
name='John', age=30, skills=('Python', 'Django', 'Docker')
name='John', age=35, skills=('Python', 'Django', 'Docker')

In [409]:
def info(name, *skills, age):
    print(f"{name=}, {age=}, {skills=}")

info("John", age=25)
info("John", "Python", "Django", "Docker", age=35)

name='John', age=25, skills=()
name='John', age=35, skills=('Python', 'Django', 'Docker')

In [412]:
def info(name, age, role, dept):
    print(f"{name=}, {age=}, {role=}, {dept=}")

rec = {"name": "John", "role": "Manager", "age": 30, "dept": "Sales"}
info(**rec) # Unpacking keyword arguments

name='John', age=30, role='Manager', dept='Sales'

In [416]:
def info(**details): # Arbitrary keyword arguments
    for k, v in details.items():
        print(f"{k} => {v}")
    print("-" * 40)

info()
info(name="John", age=30, role="Manager", dept="Sales", x=100, y=200)
info(100, 200)

----------------------------------------
name => John
age => 30
role => Manager
dept => Sales
x => 100
y => 200
----------------------------------------

TypeError: info() takes 0 positional arguments but 2 were given

In [421]:
# Fully variadic function
def func(*args, **kwargs):
    print("Positional arguments:", args)
    print("Keyword arguments:", kwargs)
    print("-" * 40)

func()
func(10, 20, 30)
func(a=100, b=200)
func(10, 20, a=100, b=200)

Positional arguments: ()
Keyword arguments: {}
----------------------------------------
Positional arguments: (10, 20, 30)
Keyword arguments: {}
----------------------------------------
Positional arguments: ()
Keyword arguments: {'a': 100, 'b': 200}
----------------------------------------
Positional arguments: (10, 20)
Keyword arguments: {'a': 100, 'b': 200}
----------------------------------------

In [ ]:
def wrapper(fn, *args, **kwargs):
    print("Before calling the function")
    result = fn(*args, **kwargs)
    print("After calling the function")
    return result

def add(x, y):
    """This is an add function"""
    print(f"add function invoked {x=}, {y=}")
    return x + y

add(10, 20)

wrapper(add, 10, 20)

add function invoked x=10, y=20
Before calling the function
add function invoked x=10, y=20
After calling the function

30

In [427]:
def square(x):
    return x * x

r = square(2)
print(r)

r = square(3.2)
print(r)

r = square(4+2j)
print(r)

r = square("Hello")
print(r)

4
10.240000000000002
(12+16j)

TypeError: can't multiply sequence by non-int of type 'str'

In [428]:
def square(x: int) -> int:
    return x * x

print(square(2))
print(square(3.2))
print(square(4+2j))
print(square("Hello"))

4
10.240000000000002
(12+16j)

TypeError: can't multiply sequence by non-int of type 'str'

#### Scope of variables
 1. All definitions within a function body are scoped local to that function

 2. Mutable objects refered to via global variables can be mutated from anywhere within Python code - the scope is irrelevant.