# Python Bootcamp 2025
### Day 2

#### Planned Agenda
 - Data Types and Flow Control
 - Working with Strings

In [ ]:
# %load http://www.tinyurl.com/hcf-ex
"""
Implement the function that returns the highest common factor
(or greatest common divisor) of two integers passed as arguments

Highest common factor of 'a' and 'b' is the largest number that
can divide both 'a' and 'b' in common. For example, hcf of 16 and
24 is 8 (though it is commonly divisible also by 2 and 4).

Example usage
-------------
    >>> hcf(20, 4)
    4

    >>> hcf(150, 8)
    2

    >>> hcf(16, 24)
    8

    >>> hcf(48, 6)
    6

"""
def hcf(a, b):
    """
    Returns the highest common factor of arguments 'a' and 'b'.

    Example
    -------
        >>> hcf(100, 2)
        2

        >>> hcf(5, 7)
        1

        >>> hcf(20, 8)
        4
    """
    while b:
        a, b = b, a % b
    return a

if __name__ == '__main__':
    from doctest import testmod
    testmod()

In [33]:
def is_prime(n):
    
    for i in range(2, round(n ** 0.5)):
        if n % i == 0:
            return False
    return True

def print_primes(n):
    i = 2
    while n:
        if is_prime(i):
            print(i, end=", ")
            n -= 1
        i += 1


print_primes(10)

2, 3, 4, 5, 6, 7, 9, 11, 13, 17,

NOTE: Using for-loop vs while-loop:

Use for-loop for "deterministic" iteration, i.e., we know how many times a block of code must be executed programmatically.

Use while-loop for all forms of "non-deterministic" iteration, i.e., we may not know beforehand, how many times the block of code needs to be executed. Rather, in most circumstances we want this loop for run based on a condition.

#### Arithmetic operators in Python
a + b
a - b
a * b
a % b

a / b
a // b

a ** 2  -> power-of operator

In [ ]:
a = 7
b = 3

print(a / b)  # truediv operator always returns a 'float'
print(a // b) # floordiv operator returns an integer if both operands are integers

2.3333333333333335
2

In [17]:
import math
math.sqrt(2), math.pow(2, 4)

(1.4142135623730951, 16.0)

In [19]:
int(4.9)

4

In [22]:
round(4.5)

4

In [24]:
a = 1.23656
round(a, 2)

1.24

In [9]:
range(10 / 2)

TypeError: 'float' object cannot be interpreted as an integer

### Python builtin datatypes

1. NoneType -> `None`
2. Numerical types:
    1. `bool` -> `True`, `False`
    2. `int`
    3. `float`
    4. `complex`
3. Iterables
   a. Collections
      - Sequences
        - Buffers
          - `str`, `bytes`, `bytearray`, (`memoryview`)
        - Heterogenous Sequences
          - `tuple`, `list`
      - Sets
        - `set`
        - `frozenset`
      - Maps
        - `dict`
   b. Generators
        - `range`
        - `enumerate`
        - `zip`
        - `reversed` objects
   c. Views
        - Dictionary key views
        - Dictionary value views
        - Dictionary item views
        - `memoryview`

In [40]:
a = 10    # integer
b = 10.0  # float
c = 10+0j # complex
d = False # Boolean

print(type(a), type(b), type(c), type(d))

i = 1
j = True
i == j

<class 'int'> <class 'float'> <class 'complex'> <class 'bool'>

True

In [51]:
# Literal notations of integers
a = 123    # Default decimal literal notation
o = 0o127  # Octal literal notation
h = 0x1fe  # Hexadecimal literal notation
b = 0b110  # Binary literal notation

print(a, o, h, b)  # str(n) returns decimal string representation of integer
print(str(a), oct(o), hex(h), bin(b))
print(f"{a:d}, {o:o}, {h:x}, {b:b}")
print("a = %d, o = %o, h = %x" % (a, o, h))

123 87 510 6
123 0o127 0x1fe 0b110
123, 127, 1fe, 110
a = 123, o = 127, h = 1fe

In [60]:
a = "0xff"
int(a, 0)

255

In [62]:
a = "0b1101"
int(a, 0)

13

In [64]:
a = "1101"
int(a, 2)

13

In [65]:
a = "face"
int(a, 16)

64206

In [ ]:
a = "10"
b = int(a) # THIS IS NOT "type-casting"! It is type construction / type-conversion

In [66]:
int()

0

In [70]:
print(int, float, bool, complex, sep="\n")

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

### Integer bit-wise operators:
`>>` -> rshift 
`<<` -> lshift
`|`  -> bitwise or
`&`  -> bitwise and
`^`  -> bitwise xor
`~`  -> bitwise complement

In [75]:
a = 56
a % 2 == 0, a & 1 == 0

(True, True)

In [73]:
a = 4
a >> 1

2

In [76]:
# float literal notations
a = 4.5
a = 4.5e+10
print(a)

45000000000.0

NOTE: In Python, every special character (used as operators) in expressions,
are mapped to special (dunder) methods associated with them.

In [78]:
a = 10
b = 20
#c = a + b
c = a.__add__(b)
print(c)
c = int.__add__(a, b)
print(c)

30
30

In [79]:
a = 123
print(dir(a))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'is_integer', 'numerator', 'real', 'to_bytes']

In [82]:
a = [0]
bool(a)

True

In [86]:
print(True, False, None)
print(type(True), type(False), type(None))

True False None
<class 'bool'> <class 'bool'> <class 'NoneType'>

In [ ]:
a = None  # Avoid statements like these in Python

a = input("Enter value: ")

In [ ]:
def print_time():
    from time import ctime # Local imports
    print(ctime())

print_time()
ctime

Fri Sep  5 11:20:00 2025

NameError: name 'ctime' is not defined

In [91]:
def square(x):
    return x*x

r = square(4)
print(r)

16

In [94]:
# NOTE: The default return value of any function in Python is None.
def greet():
    print("Hello, Pythonista!")

r = greet()
if r is None:
    print("Function returned nothing")
else:
    print("Function returned a value:", r)

Hello, Pythonista!
Function returned nothing

In [95]:
a = "This is a test string"
# String is a collection -> Sequence -> Buffer
# All collections in Python are iterables

for c in a:
    print(c, end=" ")

T h i s   i s   a   t e s t   s t r i n g

In [96]:
iter(a)

In [98]:
for v in 10:
    print(v)

TypeError: 'int' object is not iterable

In [100]:
for v in "hello":
    print(v, type(v))

h <class 'str'>
e <class 'str'>
l <class 'str'>
l <class 'str'>
o <class 'str'>

#### The iterator protocol in Python

In [111]:
a = [11, 22, 33, 44]
print(a, type(a))

#for v in a:
#    print(v)

iterator = iter(a)
try:
    while True:
        v = next(iterator)
        # for-loop body
        print(v)
except StopIteration:
    pass

[11, 22, 33, 44] <class 'list'>
11
22
33
44

In [104]:
iter(a)
a.__iter__()

In [105]:
iterator = iter(a)
iterator

In [110]:
next(iterator)

StopIteration:

#### Rules to identify collections / containers in Python:
1. Iterability: `iter(obj)` must return an iterator and not raise Exception
2. Searchability: `item in obj` must return True / False
3. Length: `len(obj)` must return a positive integer or 0

In [126]:
ins = open("users.txt")

In [ ]:
print(iter(ins))
print("joe\n" in ins)
print(len(ins)) # Fails collection test #3

<_io.TextIOWrapper name='users.txt' mode='r' encoding='UTF-8'>
True

TypeError: object of type '_io.TextIOWrapper' has no len()

In [128]:
ins.close()

In [131]:
for v in range(5):
    print(v, end=" ")

print() # Prints a new-line
for v in range(5, 10):
    print(v, end=" ")

print()
for v in range(10, 20, 2):
    print(v, end=" ")

0 1 2 3 4
5 6 7 8 9
10 12 14 16 18

In [ ]:
r = range(10, 20, 2)
print(r, type(r))
print(iter(r))
print(16 in r, 17 in r)
print(len(r))

# range objects are a "peculiar" case: they are generators, but also sequence collections

range(10, 20, 2) <class 'range'>
<range_iterator object at 0x1091129d0>
True False
5

In [136]:
a = "hello"
print(iter(a))
print("e" in a)
print(len(a))

<str_ascii_iterator object at 0x108fa4ca0>
True
5

#### Python categorizes collections in 3 broad categories:
 1. Sequences
 2. Sets
 3. Mappings

Sequences are "ordered" collection of items, where item(s) can be accessed
using index / slice operators (getitem, getslice).

#### Common features of all sequence collections in Python
  1. Indexing and Slicing operations
  2. Reversed Iteration (`reversed(seq)`)
  3. Concatentation
  4. Repetition

In [140]:
# Index / getitem operations
a = "hello world"

print(a[0], a[3], a[-1], a[-2], a[-3], a[len(a) - 1])

h l d l r d

In [143]:
print(len(a))
print(a[10])
print(a[11])

11
d

IndexError: string index out of range

In [147]:
t = 44, 22, 77, 88, 43, 12, 67, 88, 99
t[3:6]

(88, 43, 12)

In [154]:
a = "this is a test string"
print(a, len(a))
print(a[10:14])  # Extract a slice of a sequence

print(a[:4])  # Extract first 'n' items
print(a[4:])  # Skip the first 'n' items
print(a[-6:]) # Extract the last 'n' items

print(a[:-6]) # Skip the last 'n' items
print(a[:-6:2])

this is a test string 21
test
this
 is a test string
string
this is a test
ti sats

In [157]:
a = "T.h.i.s. .i.s. .a. .t.e.s.t"
a[::2]

'This is a test'

In [159]:
t = 10, 20, 30, 40, 50, 60, 70, 80, 90, 100

t[::3]

(10, 40, 70, 100)

In [ ]:
a = "hello world"
"".join(list(reversed(a)))

'dlrow olleh'

In [ ]:
a = "hello world"
a[::-1]  # Returns a reverse-copy of a string

'dlrow olleh'

In [166]:
for v in a:
    print(v, end=" ")

h e l l o   w o r l d

In [ ]:
for v in reversed(a): # reversed() returns a reverse iterator for a sequence.
    print(v, end=" ")

d l r o w   o l l e h

In [171]:
print(t)
print(iter(t))
print(reversed(t))

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
<tuple_iterator object at 0x108f98130>
<reversed object at 0x108f98130>

In [172]:
li = [11, 22, 33, 44]
print(iter(li))
print(reversed(li))

<list_iterator object at 0x106abd300>
<list_reverseiterator object at 0x106abd300>

In [175]:
a = "this is a test string"
for v in a[::-1]: # This is not Pythonic - inefficient!
    print(v, end=" ")

print()
for v in reversed(a): # This is Python - efficient!
    print(v, end=" ")

g n i r t s   t s e t   a   s i   s i h t
g n i r t s   t s e t   a   s i   s i h t

In [ ]:
a = "Hello"
b = "World"
c = a + b  # Sequence concatenation
print(c)

d = a * 5  # Sequence repetition
print(d)

HelloWorld
HelloHelloHelloHelloHello

In [179]:
print("-" * 40)
print(" " * 15, "Hello world")
print("=" * 40)

----------------------------------------
                Hello world
========================================

#### Buffers in Python

Buffers are sequences of items laid out in contiguous memory locations.
In Python, strings (`str`, `bytes`, `bytearray`) are builtin buffers.
Memory views (`memoryview`) also are considered as buffers.

Other examples of buffers are:
   - `array.array`
   - `numpy.ndarray`

NOTE: Lists and Tuples in Python are NOT buffers - as they are heterogenous collections.

In [180]:
a = [10, "hello", [2, 3, 4], (55, 66, 77), None]

#### Important string operations and features

In [184]:
s = "Hello %s, Your score is %3.2f"
r = s % ("John", 56.32344)
print(r)

Hello John, Your score is 56.32

In [189]:
# String methods
s = "this is a test string with test words test times"
#print(len(s))
len([a for a in dir(s) if a[0] != '_' and callable(getattr(s, a))])

47

In [194]:
s = "tHis iS a tEst sTRing with TEST woRds test tiMes"
print(s.upper())
print(s.lower())
print(s.title())
print(s.capitalize())
print(s.swapcase())

THIS IS A TEST STRING WITH TEST WORDS TEST TIMES
this is a test string with test words test times
This Is A Test String With Test Words Test Times
This is a test string with test words test times
ThIS Is A TeST StrING WITH test WOrDS TEST TImES

In [199]:
s = "tHis iS a tEst sTRing with TEST woRds test tiMes"

print("with" in s, "new" in s)

print(s.count("test"))
print(s.lower().count("test"))

print(s.find("with"))

True False
1
3
22

In [201]:
s1 = s.lower()
print(s1.index("test"))
print(s1.find("test"))

10
10

In [202]:
s1.find("new")

-1

In [203]:
s1.index("new")

ValueError: substring not found

In [209]:
print(s1)
s1.find("test", 42)

this is a test string with test words test times

-1

In [ ]:
# %load https://tinyurl.com/findall-ex
"""
Implement the findall() function below that should return
a list of indices all occurrence of a substring found in 
a string (both passed as arguments to the function).

Example usage:
--------------
   >>> quote = '''
   ... When I see a bird
   ... that walks like a duck
   ... and swims like a duck
   ... and quacks like a duck,
   ... I call that bird a duck
   ... '''

   >>> findall(quote, "duck")
   [37, 59, 82, 107]

"""

def findall(main_string, sub_string):
    """
    Returns a list of indices of each occurrence of
    sub_string in main_string

    Example usage:
    --------------
        >>> poem = '''
        ... A fly and flea flew into a flue,
        ... said the fly to the flea 'what shall we do ?'
        ... 'let us fly' said the flea
        ... and said the fly 'let us flee'
        ... and so they flew through a flaw in the the flue.
        ... '''

        >>> findall(poem, 'fly')
        [3, 43, 88, 120]

    """
    indices = []
    index, skip = 0, len(sub_string)
    while True:
        index = main_string.find(sub_string, index)
        if index == -1:
            break
        indices.append(index)
        index += skip
    return indices

if __name__ == '__main__':
    import doctest
    doctest.testmod()
    # Running this program using 'python3 findall.py' should
    # ideally pass all tests in the doctest - on implementation
    # of findall() function

In [214]:
print(s1)
findall(s1, "test")

this is a test string with test words test times

[10, 27, 38]

In [211]:
# %load https://tinyurl.com/findall-ex
"""
Implement the findall() function below that should return
a list of indices all occurrence of a substring found in 
a string (both passed as arguments to the function).

Example usage:
--------------
   >>> quote = '''
   ... When I see a bird
   ... that walks like a duck
   ... and swims like a duck
   ... and quacks like a duck,
   ... I call that bird a duck
   ... '''

   >>> findall(quote, "duck")
   [37, 59, 82, 107]

"""

def findall(main_string, sub_string):
    """
    Returns a list of indices of each occurrence of
    sub_string in main_string

    Example usage:
    --------------
        >>> poem = '''
        ... A fly and flea flew into a flue,
        ... said the fly to the flea 'what shall we do ?'
        ... 'let us fly' said the flea
        ... and said the fly 'let us flee'
        ... and so they flew through a flaw in the the flue.
        ... '''

        >>> findall(poem, 'fly')
        [3, 43, 88, 120]

    """
    indices = []
    index, skip = 0, len(sub_string)
    while (index := main_string.find(sub_string, index)) != -1:
        indices.append(index)
        index += skip
    return indices

if __name__ == '__main__':
    import doctest
    doctest.testmod()
    # Running this program using 'python3 findall.py' should
    # ideally pass all tests in the doctest - on implementation
    # of findall() function

In [216]:
s = "this is a test string"
print(s.startswith("this"))
print(s.endswith("ing"))
print("test" in s)

True
True
True

In [ ]:
s = "tHis is a test string"
r = "this"
s.lower().startswith(r)  # Inefficient!
s[:len(r)].lower() == r  # Efficient

True

In [228]:
a = "\n\n\t\r\t    \t hello world\n\t\r"
print(f"{a=}")
print(f"{a.lstrip()=}")
print(f"{a.rstrip()=}")
print(f"{a.strip()=}")

a='\n\n\t\r\t    \t hello world\n\t\r'
a.lstrip()='hello world\n\t\r'
a.rstrip()='\n\n\t\r\t    \t hello world'
a.strip()='hello world'

In [232]:
a = ":::::hello world:::::"
print(a)
print(a.lstrip(":"))
print(a.rstrip(":"))
print(a.strip(":"))

:::::hello world:::::
hello world:::::
:::::hello world
hello world

In [235]:
a = "this\t\t\tis\na     test\n\r\t  string"
print(a)
words = a.split() # By default, .split() method splits a string based on variable-length white-space delimiters into a list
print(words)

a = "john,45,denver"
a.split(",")

this			is
a     test
	  string
['this', 'is', 'a', 'test', 'string']

['john', '45', 'denver']

In [239]:
users = "john", "sam", "claire", "bourne", "emily"
print(users)

r = "".join(users)
print(r)
print(" ".join(users))
print(", ".join(users))

('john', 'sam', 'claire', 'bourne', 'emily')
johnsamclairebourneemily
john sam claire bourne emily
john, sam, claire, bourne, emily

In [242]:
users = "john", "sam", None, "claire", "bourne", "emily"
print(users)

r = "".join(users)
print(r)
print(" ".join(users))
print(", ".join(users))

('john', 'sam', None, 'claire', 'bourne', 'emily')

TypeError: sequence item 2: expected str instance, NoneType found

In [244]:
s = "hello"
print(s.isalpha(), s.isalnum(), s.islower())
print(s.isdigit(), s.isupper(), s.isspace())

True True True
False False False

In [248]:
s = "   hello world\n"
s[-1].isspace(), s[:3].isspace()

(True, True)

In [249]:
query = """CREATE TABLE users(
    id INTEGER PRIMARY AUTO_INCREMENT,
    name VARCHAR(32) NOT NULL,
    dept VARCHAR(32)
)
"""

print(query)

CREATE TABLE users(
    id INTEGER PRIMARY AUTO_INCREMENT,
    name VARCHAR(32) NOT NULL,
    dept VARCHAR(32)
)

In [250]:
header = """<!DOCTYPE html>
<html>
  <head><title>Sample Report</title></head>
  <body>
"""

footer = """
   </body>
</html>
"""

print(header)
print(" " * 8, "<h1>Sample Report</h1>")
print(footer)

<!DOCTYPE html>
<html>
  <head><title>Sample Report</title></head>
  <body>

         <h1>Sample Report</h1>

   </body>
</html>

In [251]:
import docstr_test

In [ ]:
docstr_test.User()

In [252]:
docstr_test.__doc__

'A simple module to test doc-strings\n\nThis is a sample module with a few definitions\nto try using doc-strings\n'

In [253]:
docstr_test.User.__doc__

'A simple class to represent User records\n    \n       The user object can be used for authentication\n       sdlkfjhkldsjfklsdj fklsjfdsf\n       sdflksdjf lksdjf sdkfj\n    '

In [254]:
docstr_test.square.__doc__

'Returns the square of x'

In [255]:
wp = "C:\backup\temp\network\remote\test\assorted"
print(wp)

Cackup	emp
emote	estssorted

In [256]:
wp = "C:\\backup\\temp\\network\\remote\\test\\assorted"
print(wp)

C:\backup\temp\network\remote\test\assorted

In [ ]:
# r-strings a.k.a raw-literal-string notation
wp = r"C:\backup\temp\network\remote\test\assorted"
print(wp)

# NOTE: It is recommended to create regex patterns using r-strings.
# For example, \b is interpolated to backspace character in python strings
# However, \b in regex acts as word-boundary.

C:\backup\temp\network\remote\test\assorted

In [260]:
a = "Hello world"
print(a, type(a))

b = b"Hello world"
print(b, type(b))

Hello world <class 'str'>
b'Hello world' <class 'bytes'>

In [ ]:
# Difference between str and bytes ?
# str objects are sequences of "unicode" characters
# bytes objects are sequences of byte values.

In [ ]:
s = "A\u0c85\u0c86\u0905\u0906"
print(s)
# Strings str are used to represent human-readable textual data with
# support for different language character and also special 
# iconography (emojis, copyright, trademark, degree, etc...)

print(len(s))

Aಅಆअआ
5

In [269]:
# bytes are used to represent raw binary data.
s = "abc\u0905\u0906\u0907"
print(s, len(s))

b = bytes(s, "utf8")
print(b, len(b))

b1 = s.encode("utf8")
print(b1, len(b1))

s1 = b.decode("utf8")
print(s1)

s2 = str(b1, "utf8")
print(s2)

abcअआइ 6
b'abc\xe0\xa4\x85\xe0\xa4\x86\xe0\xa4\x87' 12
b'abc\xe0\xa4\x85\xe0\xa4\x86\xe0\xa4\x87' 12
abcअआइ
abcअआइ

In [272]:
b = b"\xe5\xf2\x00\x45\x67\x12"
print(b)

s = b.decode("utf8")

b'\xe5\xf2\x00Eg\x12'

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe5 in position 0: invalid continuation byte

In Python, we can construct a list or a tuple from *any* iterables using
the `list()` or `tuple()` constructors

In [275]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [274]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [276]:
s = "hello"
l = list(s)
t = tuple(s)
print(l)
print(t)

['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')

In [280]:
s = "Hello"
b = b"Hello"

t1 = tuple(s)
t2 = tuple(b)
print(t1)
print(t2)

b1 = bytes(t2)
print(b1)

s1 = str(t1)
print(s1)

('H', 'e', 'l', 'l', 'o')
(72, 101, 108, 108, 111)
b'Hello'
('H', 'e', 'l', 'l', 'o')

In [282]:
a = b"abcdefgh"
t = tuple(a)
print(t)

b = bytes(t)
print(b)

(97, 98, 99, 100, 101, 102, 103, 104)
b'abcdefgh'

In [284]:
a = "abcdefgh"
t = tuple(a)
print(t)

s = str(t)
print(s)
print("".join(t))

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
abcdefgh

In [285]:
a = "hello"
for v in a:
    print(v)

h
e
l
l
o

In [286]:
a = b"hello"
for v in a:
    print(v)

104
101
108
108
111

In [289]:
a = "hello"
b = b"hello"

print(a[0], b[0])
print(a[:3], b[:3])

h 104
hel b'hel'

In [290]:
nums = [65, 78, 93, 67, 82, 89, 110]
bytes(nums)

b'AN]CRYn'

In [291]:
nums = [65, 783, 93, 67, 82, 89, 110]
bytes(nums)

ValueError: bytes must be in range(0, 256)

In [292]:
s = """Hello %s, Welcome to %s.
%s is a great place to stay.
Have a nice day ahead %s.
"""

r = s % ("Alice", "Hyatt", "Hyatt", "Alice")
print(r)

Hello Alice, Welcome to Hyatt.
Hyatt is a great place to stay.
Have a nice day ahead Alice.

In [293]:
s = """Hello {0}, Welcome to {1}
{1} is a great place to stay.
Have a nice day {0}
"""

r = s.format("Alice", "Hyatt")
print(r)

Hello Alice, Welcome to Hyatt
Hyatt is a great place to stay.
Have a nice day Alice

In [295]:
s = """Hello {guest}, Welcome to {hotel}
{hotel} is a great place to stay.
Have a nice day {guest}
"""

r = s.format(guest="Alice", hotel="Hyatt")
print(r)

Hello Alice, Welcome to Hyatt
Hyatt is a great place to stay.
Have a nice day Alice

In [304]:
scores = (45, 3545, 3, 667, 111, 77, 8)
output = "Score: {:^5d}"

for s in scores:
    print(output.format(s))

Score:  45
Score: 3545
Score:   3
Score:  667
Score:  111
Score:  77
Score:   8

In [308]:
num = 1234220045329
print("{:,d}".format(num))

1,234,220,045,329

In [294]:
num = "Decimal: {0:d}, Binary: {0:b}, Hex: {0:x}, Oct: {0:o}"

num.format(33)

'Decimal: 33, Binary: 100001, Hex: 21, Oct: 41'

In [316]:
player = "John"
score = 5.6

output = "Player: {}, score: {}"
print(output.format(player, score))

output = f"Player: {player.upper()}, score: {score * 10}"
print(output)

print(f"{player}")
print(f"{player=} {3*2=}")

Player: John, score: 5.6
Player: JOHN, score: 56.0
John
player='John' 3*2=6

In [ ]:
# bytearray are mutable equivalent of bytes

a = "this is a test string"
print(a, type(a))

b = bytearray(a, "utf8")
print(b)

this is a test string <class 'str'>
bytearray(b'this is a test string')

In [328]:
a = b"Hello world"
print(a, type(a))

b = bytearray(a)
print(b, type(b))

b[0] = 97
print(b)
b[6:6] = b"new "
print(b)
b[6:9] = b"old"
print(b)

del b[6:10]
print(b)

b'Hello world' <class 'bytes'>
bytearray(b'Hello world') <class 'bytearray'>
bytearray(b'aello world')
bytearray(b'aello new world')
bytearray(b'aello old world')
bytearray(b'aello world')

In [335]:
values = [4, 22, 78, 5, 43, 12, 78, 44, 23, 89, 31]

odd_total = 0
even_total = 0

all_ok = True

for v in values:
    if v < 0:
        all_ok = False
        even_total = odd_total = 0
        break
    if v % 2 == 0:
        even_total += v
    else:
        odd_total += v

if all_ok:
    print(f"{even_total=}, {odd_total=}")
else:
    print("Input dataset is corrupt...")

even_total=238, odd_total=191

In [ ]:
values = [4, 22, 78, -5, 43, 12, 78, 44, 23, 89, 31]

odd_total = 0
even_total = 0

for v in values:
    if v % 2 == 0:
        even_total += v
    else:
        odd_total += v

    if v < 0:
        print("Input dataset is corrupt...")  
        even_total = odd_total = 0
        break
else: # DO NOT RE-INDENT! Read for..else in Python tutorial
    print(f"{even_total=}, {odd_total=}")

Input dataset is corrupt...

In [340]:
values = [11, 22, 33, 44, 55, 66]
total = 0

while values:
    v = values.pop(0)
    if v < 0:
        print("values corrupt, bailing out!")
        break
    total += v
else:
    print("Accumulated total =", total)

Accumulated total = 231

In [341]:
values = [11, 22, 33, 44, 55, 66]
total = 0

while values:
    if (v := values.pop(0)) < 0:
        print("values corrupt, bailing out!")
        break
    total += v
else:
    print("Accumulated total =", total)

Accumulated total = 231

### In Python, errors can be of two broad categories:
 1. Parse-time errors:
     - SyntaxError
     - IndentationError
     - TabError
 2. Runtime errors:
     - NameError, ValueError, TypeError
     - IndexError, KeyError, UnicodeDecodeError, ZeroDivisionError
     - ...

In [343]:
try:
    print(var1)
except NameError as e:
    print("Access to undefined variable ? ", e)

Access to undefined variable ?  name 'var1' is not defined

In [344]:
a = [10, 20, 30]
b = int(a)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [345]:
a = 10
b = "20"
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [346]:
a = "hello"
b = int(a)

ValueError: invalid literal for int() with base 10: 'hello'

In [ ]:
## Weekend exercise:

data = [45, "hello", 4.5, 56, "world", None, 23, 5.6]

def organize_store(d):
    pass # TODO

result = organize_store(data)
print(result)
# OUT: {"int": [45, 56, 23], "str": ["hello", "world"], "float": [4.5, 5.6], "NoneType": [None]}